<div class="container">

  <!--Nav Section-->
  <div class="nav">

    <section class="top-nav">
      <h1>CMW Deposit Form</h1>
      <a id="dashboard_menu_link" routerLink="/staff-dashboard"><i class="fas fa-home"></i>Home</a>
      <a id="submit_CMW_request" routerLink="/submit-cmw-request"><i class="fab fa-wpforms"></i>CMW Request
        Form</a>
      <a id="submit_CMW_deposit" routerLink="/submit-cmw-deposit"><i class="fab fa-wpforms"></i>CMW Deposit
        Form</a>
      <a id="submit_CMW_revitalization" routerLink="/submit-cmw-revitalization"><i class="fab fa-wpforms"></i>CMW
        Revitalization Form</a>
      <a id="submit_CBS_request" routerLink="/submit-cbs-request"><i class="fab fa-wpforms"></i>CBS Request
        Form</a>
      <a id="submit_CBS_deposit" routerLink="/submit-cbs-deposit"><i class="fab fa-wpforms"></i>CBS Deposit
        Form</a>
      <a id="submit_samples" routerLink="/staff-submit-sample"><i class="fas fa-vial"></i>Submit Sample</a>
      <a id="profile_menu_link" routerLink="/"><i class="fas fa-user-circle"></i>Profile</a>
      <a id="help_menu_link" routerLink="/"><i class="fas fa-question"></i>Help</a>
      <a id="settings_menu_link" routerLink="/"><i class="fas fa-cogs"></i>Settings</a>
      <a href="" id="notification-bell"><i class="fas fa-bell"></i>Notifications</a>
    </section>

    <section class="bottom-nav">
      <a id="logout_menu_link" routerLink="/"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </section>
    <a href="" id="menu"><i class="fas fa-bars"></i></a>
  </div>

  <!--CMW Deposit Form Content-->
  <div class="content">
    <div class="color-accent">
      <h1>CMW Deposit Form</h1>
    </div>

    <div class="cmw-deposit">
      <form class="example-form">
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Key" type="text" formControlName="key">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="CMW Culture Number" type="text" formControlName="cmw_culture_number">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Genus" type="text" formControlName="genus">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Epitheton" type="text" formControlName="epitheton">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Personal Collection Number" type="text" formControlName="personal_collection_number">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="International Collection Number" type="text" formControlName="international_collection_number">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Herbarium Number" type="text" formControlName="herbarium_number">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Other FABI Collections" type="text" formControlName="other_FABI_collections">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Synonym or Original Name" type="text" formControlName="name">
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Type Status" type="text" formControlName="type_status">
        </mat-form-field>
        <br />

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Host" type="text" formControlName="host">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Vector" type="text" formControlName="vector">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Substrate" type="text" formControlName="substrate">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Continent" type="text" formControlName="continent">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Country" type="text" formControlName="country">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Region" type="text" formControlName="region">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Locality" type="text" formControlName="locality">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="GPS" type="text" formControlName="gps">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Collected By" type="text" formControlName="collected_by">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Date Collected" type="date" formControlName="date_collected">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Isolated By" type="text" formControlName="isolated_by">
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Identified By" type="text" formControlName="identified_by">
          </mat-form-field>
          <br />
        </div>
        <br/>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Donated By" type="text" formControlName="donated_by">
        </mat-form-field>
        <br />  

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Additional Notes" type="text" formControlName="additional_notes">
        </mat-form-field>
        <br />

        <button id="submit_cmw_deposit" class="btn btn-default" routerLink="/fabi-internal-dashboard">Submit</button>
      </form>
    </div>



  </div>

</div>