<!-- <app-login></app-login> -->

<!-- <app-home></app-home> -->

<!--**********************  ADMIN   **************************-->
<!-- <app-admin-dashboard></app-admin-dashboard>  -->
<!-- <app-clinic-handler></app-clinic-handler> ===============================STILL TO DO - DONE FOR NOW ==========================--> 
<!-- <app-database-handler></app-database-handler> ===========================STILL TO DO - PORTING==========================--> 
<!-- <app-organization-handler></app-organization-handler> -->
<!-- <app-staff-handler></app-staff-handler> -->
<!--NEED ADMIN PROFILE =======================================================STILL TO DO==========================--> 
<!--NEED LOG =================================================================STILL TO DO==========================--> 
<!--************************************************-->

<!--**********************  STAFF   **************************-->
<!-- <app-staff-dashboard></app-staff-dashboard> -->
<!-- <app-submit-cbs-deposit></app-submit-cbs-deposit> =======================STILL TO DO - DONE FOR NOW ==========================--> 
<!-- <app-submit-cbs-request></app-submit-cbs-request> =======================STILL TO DO - DONE FOR NOW ==========================--> 
<!-- <app-submit-cmw-deposit></app-submit-cmw-deposit> =======================STILL TO DO - DONE FOR NOW ==========================--> 
<!-- <app-submit-cmw-request></app-submit-cmw-request> =======================STILL TO DO - DONE FOR NOW ==========================--> 
<!-- <app-submit-cmw-revitalization></app-submit-cmw-revitalization> =========STILL TO DO - DONE FOR NOW ==========================--> 
<!--NEED STAFF PROFILE =======================================================STILL TO DO==========================--> 
<!--************************************************-->

<!--**********************  ORGANIZATION   **************************-->
<!-- <app-organization-dashboard></app-organization-dashboard> -->
<!-- <app-member-handler></app-member-handler> -->
<!-- <app-organization-profile></app-organization-profile> -->
<!-- <app-organization-view-samples></app-organization-view-samples> =========STILL TO DO - POPULATE TABLE==========================--> 
<!--************************************************-->


<!--**********************  ORGANIZATION MEMBER   **************************-->
<!-- <app-member-dashboard></app-member-dashboard> -->
<!-- <app-sample-form></app-sample-form> =====================================STILL TO DO - DONE FOR NOW ==========================--> 
<!-- <app-member-profile></app-member-profile> -->
<!-- <app-member-view-samples></app-member-view-samples> =====================STILL TO DO - POPULATE TABLE==========================--> 
<!--************************************************-->

<!--**********************  UPDATE COMPONENTS   **************************-->
<!-- <app-update></app-update> -->
<!--************************************************-->


<!-- <router-outlet></router-outlet> -->