<!-- <app-login></app-login> -->
<!-- <app-home></app-home> -->
<!-- <app-sample-form></app-sample-form> -->

<!--Fix Responsiveness-->
<!-- <app-admin-dashboard></app-admin-dashboard> -->


<!-- <app-staff-handler></app-staff-handler> -->
<!-- <app-clinic-handler></app-clinic-handler> -->
<!-- <app-organization-handler></app-organization-handler> -->
<!-- <app-database-handler></app-database-handler> -->
<!-- <app-member-handler></app-member-handler> -->


<!--Fix Responsiveness-->
<!-- <app-staff-dashboard></app-staff-dashboard> -->
<!-- <app-organization-dashboard></app-organization-dashboard> -->
<!-- <app-member-dashboard></app-member-dashboard> -->
<!-- <app-organization-view-samples></app-organization-view-samples> -->
<!-- <app-organization-profile></app-organization-profile> -->
<!-- <app-submit-cbs-deposit></app-submit-cbs-deposit> -->
<!-- <app-submit-cbs-request></app-submit-cbs-request> -->
<!-- <app-submit-cmw-deposit></app-submit-cmw-deposit> -->
<!-- <app-submit-cmw-request></app-submit-cmw-request> -->
<!-- <app-submit-cmw-revitalization></app-submit-cmw-revitalization> -->

<router-outlet></router-outlet>