<div>
    <img src="fabi-logo.png" alt="Logo" id="logo" class="img-responsive" />

    <div>
        <h3>Hello {{name}},</h3>
    </div>
    <div>
        <h1>Organization {{organization}} has requested to create an account with FABI.</h1>
    </div>
    <div>
        <h2>Click on the appropriate button to verify or not verify the new organization's account: </h2>
        <button onclick="verifyAccount()">Verify Account Creation</button><button onclick="dontVerifyAccount()">Remove Account Creation</button>
    </div>      
</div>