<!-- Dashboard -->
<div class="dashboard">

  <!-- Sidenav -->
  <div class="sidenav">
    <div class="top-nav-items">
      <i class="fas fa-user-circle" (click)="toggleProfileTab()"></i>
      <p (click)="toggleProfileTab()">Tap to view profile</p>
      <br />
      <div class="nav-links">
        <a class="nav-link active" href="#"><i class="fas fa-home"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-search"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-vial"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-vials"></i></a>
        <a class="nav-link" href="#"> <i class="fas fa-plus-circle"></i></a>
      </div>
    </div>
    <div class="bottom-nav-items">
      <a class="nav-link" (click)="toggleHelpTab()"><i class="fas fa-question"></i></a>
      <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>
  <!-- / Sidenav -->

  <!-- Navbar -->
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h1 class="brand">STAFF DASHBOARD</h1>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <!-- Navbar Items -->
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Samples</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CMW Culture Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="toggleHelpTab()">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          <!-- / Navbar Items -->
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <!-- Menu Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- / Menu Button -->

      <!-- Navbar Title -->
      <h5>HOME</h5>
      <!-- / Navbar Title -->

      <!-- Notification Icons -->
      <div class="notifications-icon">
        <i class="fas fa-user-circle" (click)="toggleProfileTab()"></i>
        <i class="fas fa-bell" id="new-notifications" (click)="toggleNotificationsTab()"></i>
        <i class="far fa-bell" id="no-new-notifications"></i>
      </div>
      <!-- /Notification Icons -->
    </nav>
  </div>
  <!-- / Navbar-->

  <!-- Dashboard Content -->
  <div class="dashboard-content">
    <!-- Primary Content -->
    <div class="primary-content">

      <!-- Content Heading -->
      <div class="content-heading">
        <h2>CMW Culture Collection</h2>
        <i class="fas fa-bell" id="new-notifications" (click)="showNotifications()"></i>
        <i class="far fa-bell" id="no-new-notifications"></i>
      </div>
      <!-- / Content Heading -->

      <!-- Section Divider -->
      <div class="section-divider"></div>
      <!-- / Section Divider -->

      <!-- Handler Shortcuts -->
      <div class="handler-shortcuts">

        <!-- Menu Shortcut Row -->
        <div class="menu-row">

          <!-- Menu Item -->
          <div class="menu-item" data-toggle="modal" data-target="#cmwRequestForm">
            <div class="menu-icon">
              <i class="fas fa-file-upload"></i>
            </div>
            <div class="menu-heading">
              <h6>Submit Request Form</h6>
            </div>
          </div>
          <!-- / Menu Item -->

          <!-- Menu Item -->
          <div class="menu-item" data-toggle="modal" data-target="#cmwDepositForm">
            <div class="menu-icon">
              <i class="fas fa-file-upload"></i>
            </div>
            <div class="menu-heading">
              <h6>Submit Deposit Form</h6>
            </div>
          </div>
          <!-- / Menu Item -->

        </div>
        <!-- / Menu Shortcut Row -->

        <!-- Menu Shortcut Row -->
        <div class="menu-row">

          <!-- Menu Item -->
          <div class="menu-item" data-toggle="modal" data-target="#cmwRevitalizationForm">
            <div class="menu-icon">
              <i class="fas fa-file-upload"></i>
            </div>
            <div class="menu-heading">
              <h6>Submit Revitalization Form</h6>
            </div>
          </div>
          <!-- / Menu Item -->

          <!-- Menu Item -->
          <div class="menu-item">
            <div class="menu-icon">
              <i class="fas fa-print"></i>
            </div>
            <div class="menu-heading">
              <h6>Print Collection List</h6>
            </div>
          </div>
          <!-- / Menu Item -->

        </div>
        <!-- / Menu Shortcut Row -->

      </div>
      <!-- / Handler Shortcuts -->

    </div>
    <!-- / Primary Content -->

    <!-- CMW Request Section -->
    <div class="modal fade" id="cmwRequestForm" tabindex="-1" role="dialog" aria-labelledby="cmwRequestFormTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cmwRequestFormTitle">CMW Request Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form">

              <app-submit-cmw-request></app-submit-cmw-request>

            </div>
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>
    <!-- / CMW Request  Modal Section -->

    <!-- CMW Deposit Section -->
    <div class="modal fade" id="cmwDepositForm" tabindex="-1" role="dialog" aria-labelledby="cmwDepositFormTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cmwDepositFormTitle">CMW Deposit Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form">

              <app-submit-cmw-deposit></app-submit-cmw-deposit>

            </div>
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>
    <!-- / CMW Deposit Modal Section -->

    <!-- CMW Revitalization Modal Section -->
    <div class="modal fade" id="cmwRevitalizationForm" tabindex="-1" role="dialog"
      aria-labelledby="cmwRevitalizationFormTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cmwRevitalizationFormTitle">CMW Revitalization Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form">

              <app-submit-cmw-revitalization></app-submit-cmw-revitalization>

            </div>
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>
    <!-- / CMW Revitalization Modal Section -->

  </div>
  <!-- / Dashboard Content -->

  <!-- Notification Section -->
  <div id="notifications" *ngIf="notificationsTab">
    <i class="fas fa-arrow-left" (click)="toggleNotificationsTab()"></i>
    <br />

    <app-staff-notification></app-staff-notification>

  </div>
  <!-- / Notification Section -->

  <!-- Profile Section -->
  <div id="profile" *ngIf="profileTab">
    <i class="fas fa-arrow-left" (click)="toggleProfileTab()"></i>
    <br />

    <app-staff-profile></app-staff-profile>

  </div>
  <!-- / Profile Section -->

  <!-- Help Section -->
  <div id="help" *ngIf="helpTab">
    <i class="fas fa-arrow-left" (click)="toggleHelpTab()"></i>
    <br />

    <app-staff-help></app-staff-help>

  </div>
  <!-- / Help Section -->

  <!-- Up Icon -->
  <!-- <div id="scroll-to-top">
    <a href="#"><i class="fas fa-chevron-circle-up"></i></a>
  </div> -->
  <!-- / Up Icon -->

</div>
<!-- / Dashboard -->