
API/Authentication/api/config.js

API/CultureCollectionManagement/api/config.js

API/DatabaseManagement/api/config.js

API/Login/api/config.js

API/Login/api/routes/loginTester.js

API/Login/api/routes/AuthTester.js
