<!-- Menu Shortcut Row -->
<div class="menu-row">

  <!-- Menu Item -->
  <div class="menu-item">
    <div class="menu-icon">
      <i class="fas fa-search"></i>
    </div>
    <div class="menu-heading">
      <h6>View Samples</h6>
    </div>
  </div>
  <!-- / Menu Item -->

  <!-- Menu Item -->
  <div class="menu-item">
    <div class="menu-icon">
      <i class="fas fa-vial"></i>
    </div>
    <div class="menu-heading">
      <h6>Submit Sample</h6>
    </div>
  </div>
  <!-- / Menu Item -->

</div>
<!-- / Menu Shortcut Row -->

<!-- Menu Shortcut Row -->
<div class="menu-row">

  <!-- Menu Item -->
  <div class="menu-item">
    <div class="menu-icon">
      <i class="fas fa-vials"></i>
    </div>
    <div class="menu-heading">
      <h6>CMW Culture Collection</h6>
    </div>
  </div>
  <!-- / Menu Item -->

  <!-- Menu Item -->
  <div class="menu-item">
    <div class="menu-icon">
      <i class="fas fa-plus-circle"></i>
    </div>
    <div class="menu-heading">
      <h6>Data Gatherer</h6>
    </div>
  </div>
  <!-- / Menu Item -->

</div>
<!-- / Menu Shortcut Row -->