/* ==========================================================================
   MEMBER HANDLER
   ========================================================================== */

<<<<<<< HEAD
    color: #ffffff;
    font-size: 2rem
}

#member_management_div {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
<<<<<<< HEAD
}

.notification-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    padding-left: 15px;
    padding-bottom: 15px;

}

#notifications-section .box h2 {
    font-family: 'Roboto', sans-serif;
    color: #6B8E4E;
    font-size: 24px;
    margin-top: 0;
    padding: 15px;
}

#notifications-section .box>i {
    float: left;
    color: #ffffff;
    background-color: #6B8E4E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
}

#notifications-section .box:hover {
    transform: scale(1.0125);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* ================================================ */
/* Staff Management Setup and Styling               */
/* ================================================ */
.member-management {
    display: flex;
    background-color: #eceaea;
    width: 100%;
    height: 100%;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 5px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;

    z-index: 0;
}

/* ================================================ */
/* Tab Menu Setup and Styling                       */
/* ================================================ */
.mat-ink-bar {
    background-color: #6B8E4E !important;
}

mat-tab-group {
    width: 100% !important;
    height: 100% !important;
}

mat-tab-group {
    /deep/ .mat-tab-body-wrapper {
        height: 100%;
    }
}

mat-tab {
    width: 100% !important;
    height: 100% !important;
}

mat-icon {
    padding-right: 30px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100% !important;
    min-height:100vh !important;
    height: 100% !important;

    margin-top: 5%;
}

.tab-content h2 {
    font-family: 'Roboto', sans-serif;
    color: #6B8E4E;
    font-size: 28px;

    text-transform: uppercase;
}

.tab-content hr {
    width: 250px;
    height: 2px;
    background-color: #6B8E4E;
    border: 0;
    margin-bottom: 25px;
}
=======
    color: black;
>>>>>>> develop

    height: 80%;
    width: 90%;
    overflow: hidden;
    position: relative;
=======
>>>>>>> develop

/* Member Tables Subsection */
.member-tables {  
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: auto; 
  
  padding: 15px;
  margin-top: 15px;
}

.member-table {  
  width: 95%;
  height: auto;
  
  padding: 15px;
  margin: 15px 0 15px 0;
  
  background-color: #fff;
  
  border-left: 5px solid #6B746F;
  
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}


.member-tables h5 {
  font-family: "Montserrat", sans-serif;
  color: #6B746F;
}

.table {
  width: 100%;
  height: 100%;
}

.table-action {
  display: flex;
}

.search-table {
   width: 95%;
}


/* Staff Handler View Staff Modal Section
   ========================================================================== */

.modal-header {
  background-color: #6aa84f;

  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.modal-header i {
  color: #fff;
}

.modal-body {
  display: flex;
  justify-content: center;
}

#confirmDeleteModal .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

#confirmDeleteModal .modal-body p {
  font-family: "Roboto", sans-serif;
}

.confirm-actions {
  display: flex;
  justify-content: center;
}

