<div id="member_handler">
    <div class="top_banner">
      <h1 id="member_heading">Member Management</h1>
    </div>
  
    <div class="container-fluid">
      <div class="row">
  
        <div id="member_management_div">
  
          <!--Tab Menu-->
          <mat-tab-group animationDuration="1000ms">
  
            <!--Add Tab Option-->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>person_add</mat-icon>
                Add Member
              </ng-template>
              <div class="tab_content">
                <h2>Add Member</h2>
                <br />
  
                <form id="add_new_member_form" [formGroup]="addMemberForm" (submit)="addMember()">

                <!--Dropdown for Organization selection and Error Handling-->
                <mat-form-field>
                    <mat-label>Organization</mat-label>
                    <mat-select id="organization" formControlName="organization">
                        <mat-option>--</mat-option>
                      <mat-option *ngFor="let organization of organizations" [value]="organization.orgName">
                        {{organization.orgName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="submitted && addMemberForm.controls.organization.errors" class="errors">
                    <div *ngIf="addMemberForm.controls.organization.errors.required">Please select an organization</div>
                  </div>
                  <br />
  
                  <!--Name Field-->
                  <mat-form-field class="form_inputs">
                    <input matInput placeholder="Name" matInput type="text" formControlName="member_name">
                  </mat-form-field>
                  <br />

                   <!--Surname Field-->
                   <mat-form-field class="form_inputs">
                      <input matInput placeholder="Surname" matInput type="text" formControlName="member_surname">
                    </mat-form-field>
                    <br />
  
                  <!--Location Field-->
                  <mat-form-field class="form_inputs">
                    <input matInput placeholder="Location" matInput type="text" formControlName="member_location">
                  </mat-form-field>
                  <br />
  
                  <!--Email Field-->
                  <mat-form-field class="form_inputs">
                    <input matInput placeholder="Email Address" matInput type="text" formControlName="member_email">
                  </mat-form-field>
                  <br />
  
                  <!--Phone Number-->
                  <mat-form-field class="form_inputs">
                    <input matInput placeholder="Phone Number" matInput type="number" formControlName="member_phone">
                  </mat-form-field>
  
  
                  <button type="submit" id="add_member" class="btn btn-default">Add Member</button>
  
                </form>
  
              </div>
            </mat-tab>
  
            <!--Remove Tab Option-->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>delete</mat-icon>
                Remove Member
              </ng-template>
              <div class="tab_content">
                <h2>Remove Member</h2>
                <br />
  
                <form id="remove_member_form">
  
                  <!--Search Field-->
                  <mat-form-field class="form_inputs">
                    <input matInput placeholder="Search for a member">
                  </mat-form-field>
                  <br />
  
                  <button type="submit" id="remove_search_member" class="btn btn-default">Search</button>
  
                </form>
  
              </div>
            </mat-tab>
  
            <!--View Tab Option-->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>people</mat-icon>
                View Members
              </ng-template>
              <div class="tab_content">
                <h2>View Members</h2>
                <br />
                <!--TODO
                        - Retrieve list to all organization members from API
                    -->
              </div>
            </mat-tab>
  
            <!--Search Tab Option-->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>search</mat-icon>
                Search
              </ng-template>
              <div class="tab_content">
                <h2>Search for a member</h2>
                <br />
  
                <form id="search_member_form">
  
                  <!--Search Field-->
                  <mat-form-field class="form_inputs">
                    <input matInput placeholder="Search for a member">
                  </mat-form-field>
                  <br/>
  
                  <button type="submit" id="search_member" class="btn btn-default">Search</button>
                
                </form>
  
              </div>
            </mat-tab>
          </mat-tab-group>
  
        </div>
      </div>
    </div>