<!--Home-->
<section id="welcome_section" *ngIf="!(hidden)">
  <div class="gradient-overlay"></div>
  <div class="container-fluid">
    <div class="row">

      <div class="col" id="info">
        <img src="/assets/images/FABI_logo_white.png" alt="Logo" id="logo" class="img-responsive" />

        <div id="welcome">
          <h2>WELCOME TO THE HOME OF FABI</h2>
        </div>
        <div id="login-button">
          <button id="login" name="login" class="btn btn-default" routerLink="/login" (click)="hide()">LOGIN</button>
          <button id="submit_form" name="submit_form" class="btn btn-default">SUBMIT FORM</button>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- <section id="information_section" *ngIf="!(hidden)">
  <div class="container-fluid">
    <div class="row">

      <div id="infomation_background">
        <div class="col-12 col-sm-4" id="who">
          <h2>WHO ARE WE?</h2>
          <h3>Forestry and Agricultural Biotechnology Institue</h3>
          <p></p>
        </div>
        <div class="col-6 col-sm-4" id="side_info">
          <div id="what">
            <h2>WHAT WE DO</h2>
            <h3>Post-graduate research institue</h3>
            <p></p>
          </div>
          <div id="why">
            <h2>WHY WE DO IT</h2>
            <h3>To help the forestry and agriculture industries</h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="item_info" *ngIf="!(hidden)">
  <div class="container-fluid">
    <div class="row">
      <div id="item_banner">
        <div id="item_1">
          Item 1
        </div>
        <div id="item_2">
          Item 2
        </div>
        <div id="item_3">
          Item 3
        </div>
        <div id="item_4">
          Item 4
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="handle" *ngIf="!(hidden)">
  <div id="content">
    <h1>WE HANDLE EVERYTHING FOR YOU</h1>
    <p>We will do everything for you</p>
  </div>
</section>

<section id="form_section" *ngIf="!(hidden)">
  <div class="gradient-overlay"></div>
  <div class="container-fluid">
    <div class="row">

      <div class="col" id="info">

        <div id="form">
          <h1>FORM SUBMISSION</h1>
          <h2>LET US HELP YOU</h2>
          <p>We analyse your samples!</p>
          <button id="submit_form" name="submit_form" class="btn btn-default">SUBMIT FORM</button>
        </div>
      </div>

    </div>
  </div>
</section> -->

<!-- <section id="contact_section" *ngIf="!(hidden)">
  <div id="row">
    <div id="details">
      <h1>GET IN TOUCH</h1>
      <button id="contact_form" name="contact_form" class="btn btn-default">CONTACT US</button>
      <div id="address">
        <h3>ADDRESS</h3>
        <p>Forestry and Agricultural Biotechnology Institue (FABI)</p>
        <p>University of Pretoria</p>
        <p>Lunnon Street Entrance</p>
        <p>Hatfield</p>
        <p>0083</p>
        <p>Pretoria</p>
        <p>South Africa</p>
      </div>
      <div id="contact_details">
        <h3>CONTACT DETAILS</h3>
        <p>Telephone: +27 (12) 420-3937 or 3938</p>
        <p>FAX: +27 (12) 420-3960</p>
        <p>Email: admin@fabi.up.ac.za</p>
      </div>
    </div>
  </div>
</section> -->


<!--Footer-->
<!-- <app-footer *ngIf="!(hidden)"></app-footer> -->