<div class="hero">
  <!-- Navbar -->
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h1 class="brand">FABI</h1>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <!-- Navbar Items -->
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>

          <!-- / Navbar Items -->
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <!-- Menu Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- / Menu Button -->

      <!-- Notification Icons -->
      <div class="notifications-icon">
        <a class="nav-link" href="#">Home</a>

        <a class="nav-link" href="#">About</a>

        <a class="nav-link" href="#">Services</a>

        <a class="nav-link" href="#">Contact</a>

        <a class="nav-link" data-toggle="modal" data-target="#requestToRegisterModal"><button type="button"
            class="btn btn-default-register-nav">Register</button></a>

      </div>
      <!-- /Notification Icons -->
    </nav>
  </div>
  <!-- / Navbar-->

  <div class="hero-section">
    <div class="hero-content">
      <div class="content-headings">
        <h5>Welcome to FABI</h5>
        <h3>Forestry and Agricultural Biotechnology Institute</h3>
      </div>
      <div class="content-actions">
        <button type="button" class="btn btn-default-login" routerLink="/login">Login</button>
        <button type="button" class="btn btn-default-register" data-toggle="modal"
          data-target="#requestToRegisterModal">Register</button>
      </div>
    </div>

    <div class="social-media">
      <a href="https://www.facebook.com/groups/94361631088/"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/fabiteam1"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>

<div class="about-us">

  <div class="section-heading">
    <h3>About FABI</h3>
  </div>

  <div class="section-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique mauris in aliquet fringilla. Donec
      quis scelerisque orci, at rutrum turpis. Ut pretium mauris urna, non pharetra ante ultrices eget.</p>
  </div>

</div>


<div class="services">

  <div class="service-item">
    <div class="service-icon">
      <i class="fas fa-stethoscope"></i>
    </div>
    <div class="service-heading">
      <h5>Diagnostic Clinic</h5>
    </div>
    <div class="service-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique mauris in aliquet fringilla. Donec
        quis scelerisque orci, at rutrum turpis.</p>
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon">
      <i class="fas fa-search"></i>
    </div>
    <div class="service-heading">
      <h5>Research</h5>
    </div>
    <div class="service-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique mauris in aliquet fringilla. Donec
        quis scelerisque orci, at rutrum turpis.</p>
    </div>
  </div>

  <div class="service-item">
    <div class="service-icon">
      <i class="fas fa-info"></i>
    </div>
    <div class="service-heading">
      <h5>Infographics</h5>
    </div>
    <div class="service-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique mauris in aliquet fringilla. Donec
        quis scelerisque orci, at rutrum turpis.</p>
    </div>
  </div>

</div>

<div class="how-it-works">

  <div class="section-heading-how">
    <h3>How it works</h3>
  </div>

  <div class="section-content-how">

    <div class="how-item-row">
      <div class="how-item">
        <div class="how-icon">
          <h3>1</h3>
        </div>
        <div class="how-heading">
          <h5>Register</h5>
        </div>
        <div class="how-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique mauris in aliquet fringilla.
            Donec quis scelerisque orci, at rutrum turpis.</p>
        </div>
      </div>

      <div class="how-item">
        <div class="how-icon">
          <h3>2</h3>
        </div>
        <div class="how-heading">
          <h5>Login</h5>
        </div>
        <div class="how-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique mauris in aliquet fringilla.
            Donec quis scelerisque orci, at rutrum turpis.</p>
        </div>
      </div>
    </div>

    <div class="how-item-row">
      <div class="how-item">
        <div class="how-icon">
          <h3>3</h3>
        </div>
        <div class="how-heading">
          <h5>Submit Samples</h5>
        </div>
        <div class="how-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique mauris in aliquet fringilla.
            Donec quis scelerisque orci, at rutrum turpis.</p>
        </div>
      </div>

      <div class="how-item">
        <div class="how-icon">
          <h3>4</h3>
        </div>
        <div class="how-heading">
          <h5>Get Results</h5>
        </div>
        <div class="how-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique mauris in aliquet fringilla.
            Donec quis scelerisque orci, at rutrum turpis.</p>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Contact us Section -->
<div class="contact-us">
  <!-- Contact us Content-->
  <div class="contact-us-content">
    <div class="section-heading">
      <h3>Contact Us</h3>
    </div>
    <div class="section-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>



    <!-- Contact Form -->
    <br />
    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="email" class="form-control" id="name" placeholder="John Doe">
      </div>
      <div class="form-group">
        <label for="message">Your Message</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
      </div>
    </form>
    <!-- /Contact Form -->

    <!-- / Contact us Content-->

    <!-- Contact us Actions-->
    <div class="contact-us-actions">
      <button type="button" class="btn btn-default-contact">Contact us</button>
    </div>
    <!-- / Contact us Actions-->
  </div>
</div>
<!-- / Contact us Section -->

<!-- Bottom navbar Section -->
<div class="bg-dark p-4">
  <h1 class="brand">FABI</h1>
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact us</a>
    </li>
  </ul>

</div>
<!-- / Bottom navbar Section -->

<!-- Request to Register Modal Section -->
  <div class="modal fade" id="requestToRegisterModal" tabindex="-1" role="dialog" aria-labelledby="requestToRegisterModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="requestToRegisterModalTitle">Request To Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times"></i></span>
          </button>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="form">

            <!-- Add Organization Form -->
            <form id="request_register_org" [formGroup]="request_register_org" (submit)="requestToRegister()"
              class="needs-validation" novalidate>
              <div class="row">


                <!-- Name -->
                <div class="form-group">
                  <label for="organization_name">Organization Name</label>
                  <input type="text" class="form-control" id="organization_name" placeholder="Enter organization name"
                    formControlName="organization_name" required
                    [ngClass]="{
                    'is-invalid': request_register_org.controls['organization_name'].invalid && (submitted || request_register_org.controls['organization_name'].dirty), 
                    'is-valid': request_register_org.controls['organization_name'].valid && (submitted || request_register_org.controls['organization_name'].dirty)}">
                  <!-- Error Validation Feedback-->
                  <div
                    *ngIf="request_register_org.controls['organization_name'].invalid && (submitted || request_register_org.controls['organization_name'].dirty)">
                    <div *ngFor="let validation of register_organization_validators.organization_name">
                      <p *ngIf="request_register_org.get('organization_name').hasError(validation.type)">
                        {{validation.message}}</p>
                    </div>
                  </div>
                  <!-- / Error Validation Feedback-->
                </div>
                <!-- / Name -->

                <!-- Location -->
                <!-- <div class="form-group">
                  <label for="organization_location">Organization Location</label>
                  <input type="text" class="form-control" id="organization_location" placeholder="Enter organization location" formControlName="organization_location" required
                  [ngClass]="{
                    'is-invalid': request_register_org.controls['organization_location'].invalid && (submitted || request_register_org.controls['organization_location'].dirty), 
                    'is-valid': request_register_org.controls['organization_location'].valid && (submitted || request_register_org.controls['organization_location'].dirty)}" > -->
                <!-- Error Validation Feedback-->
                <!-- <div *ngIf="request_register_org.controls['organization_location'].invalid && (submitted || request_register_org.controls['organization_location'].dirty)" >
                    <div *ngFor="let validation of register_organization_validators.organization_location">
                        <p *ngIf="request_register_org.get('organization_location').hasError(validation.type)">{{validation.message}}</p>
                    </div>
                  </div> -->
                <!-- / Error Validation Feedback-->
                <!-- </div> -->
                <!-- / Location -->

                <!-- Admin Name -->
                <div class="form-group">
                  <label for="admin_name">Admin Name</label>
                  <input type="text" class="form-control" id="admin_name" placeholder="Enter admin name"
                    formControlName="admin_name" required
                    [ngClass]="{
                    'is-invalid': request_register_org.controls['admin_name'].invalid && (submitted || request_register_org.controls['admin_name'].dirty), 
                    'is-valid': request_register_org.controls['admin_name'].valid && (submitted || request_register_org.controls['admin_name'].dirty)}">
                  <!-- Error Validation Feedback-->
                  <div
                    *ngIf="request_register_org.controls['admin_name'].invalid && (submitted || request_register_org.controls['admin_name'].dirty)">
                    <div *ngFor="let validation of register_organization_validators.admin_name">
                      <p *ngIf="request_register_org.get('admin_name').hasError(validation.type)">{{validation.message}}</p>
                    </div>
                  </div>
                  <!-- / Error Validation Feedback-->
                </div>
                <!-- / Admin Name -->

                <!-- Admin Surname -->
                <div class="form-group">
                  <label for="admin_surname">Admin Surname</label>
                  <input type="text" class="form-control" id="admin_surname" placeholder="Enter admin surname"
                    formControlName="admin_surname" required
                    [ngClass]="{
                    'is-invalid': request_register_org.controls['admin_surname'].invalid && (submitted || request_register_org.controls['admin_surname'].dirty), 
                    'is-valid': request_register_org.controls['admin_surname'].valid && (submitted || request_register_org.controls['admin_surname'].dirty)}">
                  <!-- Error Validation Feedback-->
                  <div
                    *ngIf="request_register_org.controls['admin_surname'].invalid && (submitted || request_register_org.controls['admin_surname'].dirty)">
                    <div *ngFor="let validation of register_organization_validators.admin_surname">
                      <p *ngIf="request_register_org.get('admin_surname').hasError(validation.type)">{{validation.message}}
                      </p>
                    </div>
                  </div>
                  <!-- / Error Validation Feedback-->
                </div>
                <!-- / Admin Surname -->

                <!-- Email -->
                <div class="form-group">
                  <label for="admin_email">Email address</label>
                  <input type="email" class="form-control" id="admin_email" aria-describedby="emailHelp"
                    placeholder="Enter email" formControlName="admin_email" required
                    [ngClass]="{
                    'is-invalid': request_register_org.controls['admin_email'].invalid && (submitted || request_register_org.controls['admin_email'].dirty), 
                    'is-valid': request_register_org.controls['admin_email'].valid && (submitted || request_register_org.controls['admin_email'].dirty)}">
                  <!-- Error Validation Feedback-->
                  <div
                    *ngIf="request_register_org.controls['admin_email'].invalid && (submitted || request_register_org.controls['admin_email'].dirty)">
                    <div *ngFor="let validation of register_organization_validators.admin_email">
                      <p *ngIf="request_register_org.get('admin_email').hasError(validation.type)">{{validation.message}}</p>
                    </div>
                  </div>
                  <!-- / Error Validation Feedback-->
                </div>
                <!-- / Email -->

                <!-- Phone -->
                <div class="form-group">
                  <label for="admin_phone">Phone</label>
                  <input type="text" class="form-control" id="admin_phone" placeholder="Enter phone"
                    formControlName="admin_phone" required
                    [ngClass]="{
                    'is-invalid': request_register_org.controls['admin_phone'].invalid && (submitted || request_register_org.controls['admin_phone'].dirty), 
                    'is-valid': request_register_org.controls['admin_phone'].valid && (submitted || request_register_org.controls['admin_phone'].dirty)}">
                  <!-- Error Validation Feedback-->
                  <div
                    *ngIf="request_register_org.controls['admin_phone'].invalid && (submitted || request_register_org.controls['admin_phone'].dirty)">
                    <div *ngFor="let validation of register_organization_validators.admin_phone">
                      <p *ngIf="request_register_org.get('admin_phone').hasError(validation.type)">{{validation.message}}</p>
                    </div>
                  </div>
                  <!-- / Error Validation Feedback-->
                </div>
                <!-- / Phone -->


                <!-- Submit -->
                <button type="submit" class="btn btn-default-save">Send Request</button>
                <!-- / Submit -->

              </div>
            </form>
            <!-- / Add Organization Form -->

          </div>
        </div>
        <!-- / Modal Body -->
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<!-- / Request to Register ModalSection -->