/* ==========================================================================
   HOME PAGE
   ========================================================================== */

/* General Styles
   ========================================================================== */

/* Section Heading Styling */
.section-heading {
    font-family: "Montserrat", sans-serif;
    color: #72B555;
  
    transition: all 1.3s;
  }
  
  .section-subheading {
    font-family: "Montserrat", sans-serif;
    color: #72B555;
  }
  
  .section-content {
    font-family: "Roboto", sans-serif;
    color: #5a8f43;
  }
  
  /* Horizontal Rule Styling */
  hr {
    border: 1px solid #6aa84f;
  
    width: 100%;
  }
  
  /* Button Styling */
  .btn.btn-default {
    color: #72b555;
    font-family: "Montserrat", sans-serif;
  
    background-color: transparent;
  
    border: 1px solid #72b555;
  
    border-radius: 5px;
  
    padding: 10px;
    margin: 0;
  
    width: auto;
  
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  
    transition: all 0.5s;
  }
  
  .btn.btn-default:hover {
    color: #fff;
    
    background: linear-gradient(to right, #76b852, #8dc26f);

    border: none;
  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  
    transform: scale(1.025);
  }
  
  /* Section Marker Styling */
  .marker {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  
    background: linear-gradient(to right, #76b852, #8dc26f);
  
    height: 5vh;
  }
  
  .marker p {
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  
    padding: 0 25px 0 0;
    margin: 0;
  }
  
  .marker i {
    color: #fff;
    font-size: 20px;
  
    padding: 0 15px 0 0;
  }
  
  /* Home Navbar Section
     ========================================================================== */
  
  div.pos-f-t {
    height: 10vh !important;
  }
  
  div nav.navbar.navbar-dark.bg-dark {
    background: linear-gradient(to right, #76b852, #8dc26f) !important;
  
    height: 10vh !important;
  }
  
  div#navbarToggleExternalContent div.bg-dark.p-4 {
    background-color: #72b555 !important;
    
    position: relative;
  }
  
  .brand {
    font-family: "Montserrat", sans-serif;
    color: #fff;
  }
  
  .nav-item a {
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  
  .nav-item.active a {
    background-color: rgba(255, 255, 255, 0.1);
  
    border-radius: 15px;
  
    padding: 10px;
    margin: 0 0 0 -10px;
  
    width: 100%;
  }
  
  .social-media {
    display: flex;
    justify-content: flex-end;
  }
  
  .social-media i {
    color: #fff;
    font-size: 28px;
  }
  
  
  /* Home Hero Section
     ========================================================================== */
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  
    min-height: 85vh;
    height: auto;

    position: relative;
  }
  
  .hero::after {
    content: "";
    background: url(src/assets/images/primary_background.jpg);
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
  
    width: 95%;
    min-height: 90%;
    height: auto;
  
    padding: 10% 20% 10% 5%;
  }
  
  .hero-actions {
    display: flex;
    flex-direction: column;
  
    margin-top: 20%;
  }
  
  .btn.btn-default.login {
    width: 50%;
  }
  
  .btn.btn-default.register {
    width: 100%;
  }
  
  /*Responsive Media Query for Hero Section*/
  @media (min-width: 768px) and  (max-width: 1199px) {
    .hero-actions {
      flex-direction: row;
      
      margin-top: 10%;
    }
   
    .btn.btn-default.login {
      height: 50px;
    }
    
    .btn.btn-default.register {
      height: 50px;
      
      margin-left: 25px;    
    }
  }
  
  @media (min-width: 1200px) {
    .hero-actions {
      flex-direction: row;
      
      margin-top: 10%;
    }
   
    .btn.btn-default.login {
      width: 25%;
      height: 50px;
    }
    
    .btn.btn-default.register {
      width: 50%;
      height: 50px;
      
      margin-left: 25px; 
    }
  }
  
  
  /* Home About Section
     ========================================================================== */
  
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  
    min-height: 90vh;
    height: auto;
  
    background-color: #f7f9f9;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    min-height: 90%;
    height: auto;
  
    padding: 10% 10% 10% 10%;
  }
  
  .about-actions {
    display: flex;
    flex-direction: column;
  
    margin-top: 10%;
  }
  
  .btn.btn-default.contact {
    width: 50%;
  }
  
  /* Home Services Section
     ========================================================================== */
  
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
  
    min-height: 90vh;
    height: auto;
  }
  
  .services-content {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    min-height: 90%;
    height: auto;
  
    padding: 10% 10% 10% 10%;
  }
  
  .service-boxes {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
  }
  
  .service-box {
    display: flex;
    align-items: center;
  
    width: 100%;
    height: 100px;
    
    border: 1px solid #72b555;
  
    border-radius: 15px;
  
    margin: 15px 10px 15px 10px;
  
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  
    transition: all 0.2s;
  }
  
  .service-box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  
    transform: scale(1.025);
  }
  
  .service-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72b555;
  
    border-radius: 50%;
  
    height: 50px;
    width: 60px;
  
    margin: 15px;
  
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  }
  
  .service-icon i {
    color: #fff;
    font-size: 20px;
  }
  
  .service-info {
    display: flex;
    align-items: center;
    align-content: center;
  
    text-align: center;
  
    width: 100%;
  
    margin: 5px;
  }
  
  .service-info h6 {
    color: #72b555;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  
    padding: 0 10px 0 0;
    margin: 0;
  }
  
  .service-info p {
    font-family: "Roboto", sans-serif;
  
    padding: 5px;
    margin: 0;
  }
  
  /*Responsive Media Query for Services Section*/
  @media (max-width: 476px) {
    .service-icon {
      display: none;
    }
  }
  
  @media (min-width: 992px) {
    .service-boxes { 
      flex-direction: row;
      flex-wrap: wrap; 
    }
    
    .service-box {
      flex-direction: column;
      width: 250px;
      height: 350px;
      
      margin: 15px 30px 15px 30px;
    }
    
    .service-icon {
      height: 80px;
      width: 100px;
      
      margin-top: 20%;
    }
  
    .service-icon i {
      font-size: 30px;
    }
    
    .service-info {
      flex-direction: column;
      justify-content: space-evenly;
      
      height: 30%;
      
      margin-top: 20%;
      
      padding: 10px;
    }
  }
  
  /* Home Contatc us Section
     ========================================================================== */
  
  .contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
  
    min-height: 90vh;
    height: auto;
  
    background-color: #f7f9f9;
  }
  
  .contact-us-content {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    min-height: 90%;
    height: auto;
  
    padding: 10% 10% 10% 10%;
  }
  
  .contact-us-actions {
    display: flex;
    flex-direction: column;
  
    margin-top: 10%;
  }
  
  .btn.btn-default.contact {
    width: 50%;
  }
  
  /* Home Bottom Navbar Section
     ========================================================================== */
  
  div.bg-dark.p-4 {
    background-color: #72b555 !important;
  }
  