<!-- Navbar -->
<div class="pos-f-t">

    <div class="collapse" id="navbarToggleExternalContent">
  
      <div class="bg-dark p-4">
        <h1 class="brand">FABI</h1>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
        </ul>
  
        <!-- Social Media Links -->
        <div class="social-media">
          <a class="nav-link" href="#"><i class="fab fa-twitter-square"></i></a>
          <a class="nav-link" href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
        <!-- / Social Media Links -->
      </div>
    </div>
  
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  
  </div>
  <!-- / Navbar-->
  
  <!-- Hero Section -->
  <div class="hero">
  
    <!-- Hero Content-->
    <div class="hero-content">
      <h1 class="section-heading">FABI</h1>
      <h3 class="section-subheading">Forestry & Agriculture Biotechnology Institute</h3>
      <hr />
      <p class="section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim accumsan ex, at
        pulvinar elit. Praesent sapien magna, pulvinar in auctor et, dapibus quis lacus.</p>
      <!-- / Hero Content-->
  
      <!-- Hero Actions-->
      <div class="hero-actions">
        <button type="button" class="btn btn-default login" routerLink="/login">Login</button>
        <br />
        <button type="button" class="btn btn-default register" routerLink="/login">Request to Register</button>
      </div>
      <!-- / Hero Actions-->
  
    </div>
  
  </div>
  <!-- / Hero Section -->
  
  <!-- Marker -->
  <div class="marker">
    <p>ABOUT US</p>
    <i class="fas fa-chevron-down"></i>
  </div>
  <!-- / Marker -->
  
  <!-- About Section -->
  <div class="about">
  
    <!-- About Content-->
    <div class="about-content">
      <h1 class="section-heading">ABOUT US</h1>
      <hr />
      <p class="section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim accumsan ex, at
        pulvinar elit. Praesent sapien magna, pulvinar in auctor et, dapibus quis lacus.</p>
      <!-- / About Content-->
  
      <!-- About Actions-->
      <div class="about-actions">
        <button type="button" class="btn btn-default contact">Contact us</button>
      </div>
      <!-- / About Actions-->
  
    </div>
  
  </div>
  <!-- / About Section -->
  
  <!-- Marker -->
  <div class="marker">
    <p>OUR SERVICES</p>
    <i class="fas fa-chevron-down"></i>
  </div>
  <!-- / Marker -->
  
  <!-- Services Section -->
  <div class="services">
  
    <!-- Services Content-->
    <div class="services-content">
      <h1 class="section-heading">SERVICES</h1>
      <hr />
  
      <!-- Service Information Boxes -->
      <div class="service-boxes">
  
        <!-- Service Box -->
        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-clinic-medical"></i>
          </div>
          <div class="service-info">
            <h6>Diagnostic Clinic</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <!-- / Service Box -->
  
        <!-- Service Box -->
        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-clinic-medical"></i>
          </div>
          <div class="service-info">
            <h6>Diagnostic Clinic</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <!-- / Service Box -->
  
        <!-- Service Box -->
        <div class="service-box">
          <div class="service-icon">
            <i class="fas fa-clinic-medical"></i>
          </div>
          <div class="service-info">
            <h6>Diagnostic Clinic</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <!-- / Service Box -->
  
      </div>
      <!-- / Service Information Boxes -->
  
    </div>
  
  </div>
  <!-- / Services Section -->
  
  <!-- Marker -->
  <div class="marker">
    <p>CONTACT US</p>
    <i class="fas fa-chevron-down"></i>
  </div>
  <!-- / Marker -->
  
  <!-- Contact us Section -->
  <div class="contact-us">
  
    <!-- Contact us Content-->
    <div class="contact-us-content">
  
      <h1 class="section-heading">CONTACT US</h1>
      <hr />
      <p class="section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  
      <!-- Contact Form -->
      <br />
      <form class="needs-validation" novalidate [formGroup]="contact_form" (submit)="contact()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="John Doe" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="form-group">
          <label for="message">Your Message</label>
          <textarea class="form-control" id="message" rows="3" formControlName="message" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
  
        <!-- Contact us Actions-->
        <div class="contact-us-actions">
          <button type="submit" class="btn btn-default contact">Contact us</button>
        </div>
        <!-- / Contact us Actions-->
  
      </form>
      <!-- /Contact Form -->
  
      <!-- / Contact us Content-->
    </div>
  
  </div>
  <!-- / Contact us Section -->
  
  <!-- Marker -->
  <div class="marker">
    <p>BACK TO TOP</p>
    <i class="fas fa-chevron-up"></i>
  </div>
  <!-- / Marker -->
  
  <!-- Bottom navbar Section -->
  <div class="bg-dark p-4">
    <h1 class="brand">FABI</h1>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
    </ul>
  
    <!-- Social Media Links -->
    <div class="social-media">
      <a class="nav-link" href="#"><i class="fab fa-twitter-square"></i></a>
      <a class="nav-link" href="#"><i class="fab fa-facebook-square"></i></a>
    </div>
    <!-- / Social Media Links -->
  </div>
  <!-- / Bottom navbar Section -->