/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

//Import Google Fonts 
@import url('https://fonts.googleapis.com/css?family=Oswald:700|Roboto&display=swap');

@import "../node_modules/ngx-toastr/toastr.css";

a:hover {
    text-decoration: none;
    color:#ffffff;
 }