/* ================================================ */
/* General Setup                                    */
/* ================================================ */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

.container-fluid {

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    height: 100%;

}

/* ================================================ */
/* Background Image Style                           */
/* ================================================ */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('src/assets/images/primary_background.jpg');
    z-index: -1;
}

.background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6B8E4E;
    opacity: 0.3;
}

/* ================================================ */
/* Login Card Style                                 */
/*      Default style is built for mobile devices   */
/* ================================================ */
#login-card {
    display: flex;

    width: 90%;
    height: 95vh;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #6B8E4E;
    color: #ffffff;

    padding: 50px;

}

#right {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
}

#close-icon {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

#close-icon i {
    margin: 10px 10px;

    color: lightgray;
}

#right h1 {
    color: #6B8E4E;
    font-size: 34px;
}

/* ================================================ */
/* Responsive Styles                                */
/* ================================================ */
@media (max-width: 1023px) {
    #left {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    #left {
        width: 50%;
    }

    #right {
        width: 50%;
    }
}

@media (min-width: 2560px) {
    #login-card {
        flex-direction: column;
    }

    #left {
        width: 100%;
        height: 20%;

        text-align: center;
    }

    #left h3,
    p {
        display: none;
    }

    #right {
        width: 100%;
        height: 80%;
    }

    .form-group {
        padding: 0;
        margin: 0;
    }

    .row {
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) and (min-height: 1024px) {
    #login-card {
        flex-direction: column;
    }

    #left {
        display: flex;

        width: 100%;
        height: 40%;

        text-align: center;
    }

    #right {
        justify-content: center;

        width: 100%;
        height: 60%;
    }

    .form-group {
        padding: 0;
        margin: 0;
    }

    .row {
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 1024px) and (min-height: 768px) {
    #login-card{
        height:90vh;
    }

    #left {
        justify-content: center;
    }

    #right {
        justify-content: center;
    }
}

/* ================================================ */
/* Form and Input Styling                           */
/* ================================================ */
.row {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #6B8E4E;
    }

    .mat-form-field-ripple {
        background-color: #6B8E4E;
    }

    .mat-form-field-required-marker {
        color: #6B8E4E;
    }

    .mat-input-element {
        color: #6B8E4E;
    }
}

.mat-form-field-wrapper {
    width: 100% !important;
    font-size: 12px;
}


#right .btn.btn-default {
    background: #6B8E4E;
    border: 3px solid #6B8E4E;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-transform: uppercase;

    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #6B8E4E;

}

#right .btn.btn-default:hover,
#right .btn.btn-default:focus {
    outline: none;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* ================================================ */
/* Error Message Styling                            */
/* ================================================ */
.errors {
    margin-top: 1rem;
    display: block;
}