//Login Design 
#login {
    color: #ffffff;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    position: relative;

    background-image: url('/assets/images/primary_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login .gradient-overlay {
    background: linear-gradient(to left, #196F3D, black);
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}


#main_div_login{
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    width:80%;

    overflow: hidden;
    position: relative;

    top:15vh;
    left:10%;

    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#login_information, #div_login{
    float: left;
}

#login_information{
    background-image: url('/assets/images/forest.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height:100%;
    width: 40%;

    color:#ffffff;
    padding:2rem;

}

#login_information h1{
    position: relative;
    top:10vh;
}

#login_information p{
    font-size:12px;
}


#login_div{
    top:5vh;
    height:70%;
    width:60%;

    color: #196F3D;

    padding:2rem;
}

//Input Styling 
.mat-focused .placeholder {
    color: #196F3D
}


.mat-form-field-ripple {
    background-color: #196F3D !important;
}



input#continue.btn.btn-default {
    background: transparent;
    border: 3px solid #196F3D;
    color: #196F3D;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 30px;
    margin-top: 34px;
    margin-left: 2rem;
    text-transform: uppercase;

    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #196F3D;

}


input#continue.btn.btn-default:hover,
input#continue.btn.btn-default:focus {
    opacity: 0.8;
    color: #ffffff;
    background-color: #196F3D;
}

//Error Messages Styling
.errors
{
  margin-top: 1rem;
  display: block;
}





