<div class="container">
  <section class="login">
    <div class="background-image"></div>
    <div class="left">
      
      <div id="main_div_login">
        <div class="col-lg-6 col-md-12 col-sm-12" id="login_information">
          <h1>WE ARE EXCITED TO WELCOME YOU</h1>
          <br />
          <br />
          <br />
          <br />
          <h3>Why do you need to signup?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, est at faucibus sodales, nisi
            est molestie est, eu rhoncus magna dolor at sem. </p>
        </div>
      </div>
    </div>
        <div class="col-lg-6 col-md-12 col-sm-12" id="login_div" class="right">
          <h1>LOGIN</h1>

          <!--Login Form-->
          <form id="login_submit" [formGroup]="loginForm" (submit)="login()">

            <!--Dropdown for Organization selection and Error Handling-->
            <mat-form-field>
              <mat-label>Organization</mat-label>
              <mat-select [(ngModel)]="selectedOrg" id="organization" formControlName="organization" (click)="displayUserTypes()">
                  <mat-option>--</mat-option>
                <mat-option *ngFor="let organization of organizations" [value]="organization.orgName" (click)="displayUserTypes()">
                  {{organization.orgName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="submitted && loginForm.controls.organization.errors" class="errors">
              <div *ngIf="loginForm.controls.organization.errors.required">Please select an organization</div>
            </div>
            <br />

            <!--Dropdown for User Type selection and Error Handling-->
            <mat-form-field >
              <mat-label>User Type</mat-label>
              <mat-select [(ngModel)]="selectedUserType"  id="userType" formControlName="userType">
                  <mat-option>--</mat-option>
                <mat-option *ngFor="let userType of userTypes" [value]="userType.Name">
                  {{userType.Name}}
                </mat-option>
              </mat-select>
              <br />
            </mat-form-field>
            <div *ngIf="submitted && loginForm.controls.userType.errors" class="errors">
              <div *ngIf="loginForm.controls.userType.errors.required">Please select a user type</div>
            </div>
            <br />

            <!--Email Address Input and Error Handling-->
            <mat-form-field>
              <input matInput id="login_email" formControlName="login_email" type="email" required>
              <mat-placeholder class="placeholder">johndoe@gmail.com</mat-placeholder>
              <br />
            </mat-form-field>
            <div *ngIf="submitted && loginForm.controls.login_email.errors" class="errors">
              <div *ngIf="loginForm.controls.login_email.errors.required">Please enter your email</div>
            </div>
            <br />

            <!--Password Input and Error Handling-->
            <mat-form-field>
              <input matInput id="login_password" formControlName="login_password" type="password" required>
              <mat-placeholder class="placeholder">Enter your password</mat-placeholder>
              <br />
            </mat-form-field>
            <div *ngIf="submitted && loginForm.controls.login_password.errors" class="errors">
              <div *ngIf="loginForm.controls.login_password.errors.required">Please enter your password</div>
            </div>
            <br />
            <p *ngIf="loading" class="errors">Logging In...</p>

            <!--Submit-->
            <input type="submit" id="continue" class="btn btn-default" value="Login" />
          </form>
        </div>
  </section>
</div>