<!--Login-->
<section id="login">
  <div class="gradient-overlay"></div>
  <div class="container-fluid">
    <div class="row">

      <!--Login Form-->
      <div id="main_div_login">
        <div class="col-lg-6 col-md-12 col-sm-12" id="login_information">
          <h1>WE ARE EXCITED TO WELCOME YOU</h1>
          <br />
          <br />
          <br />
          <br />
          <h3>Why do you need to signup?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, est at faucibus sodales, nisi
            est molestie est, eu rhoncus magna dolor at sem. </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12" id="login_div">
          <h1>LOGIN</h1>
          <form id="login_submit"  [formGroup]="loginForm" (submit)="login()">
            <mat-form-field>
              <input matInput id="login_email" formControlName="login_email" type="email" required>
              <mat-placeholder class="placeholder">johndoe@gmail.com</mat-placeholder>
              <br />
            </mat-form-field>
            <div *ngIf="submitted && loginForm.controls.login_email.errors" class="errors">
              <div *ngIf="loginForm.controls.login_email.errors.required">Please enter your email</div>
            </div>
            <br />
            <mat-form-field>
              <input matInput id="login_password" formControlName="login_password" type="password" required>
              <mat-placeholder class="placeholder">Enter your password</mat-placeholder>
              <br />
            </mat-form-field>
            <div *ngIf="submitted && loginForm.controls.login_password.errors" class="errors">
              <div *ngIf="loginForm.controls.login_password.errors.required">Please enter your password</div>
            </div>
            <br />
            <p *ngIf="success" class="errors">Logging In...</p>
            <input type="submit" id="continue" class="btn btn-default" value="Login" />
          </form>

        </div>
      </div>


    </div>
  </div>

</section>