/* Profile Form */
.form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 100%;
}

.form-row {
    display: flex;
    justify-content: center;

    height: 100%;
}

.form-group {
    width: 100%;
}

#save-btn {
    display: none;
    width: 50%;
}

#confirm-password {
    display: none;
}
