/*
    DASHBOARD DESIGN 
*/

//Background Setup
#dashboard {
    color: #ffffff;
    display: flex;
    height: 100vh;
    width:100%;
    overflow: hidden;
    position: relative;

    background-image: url('/assets/images/primary_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
}

#dashboard .gradient-overlay {
    background: linear-gradient(to left, #196F3D, black);
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

//Dashboard Heading Styling
#dashboard_heading {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;

    overflow: hidden;
    position: relative;

    top: 2rem;
    display: block;

    color: #ffffff;
    font-size: 3.5rem
}

//Dashboard Content Styling
#dashboard_content {
    display: flex;
    height: 70vh;
    width: 80%;

    overflow: hidden;
    position: relative;

    top: 0.5vh;
    left: 10%;
}

#menu_div {
    font-size: 40px;
}

#menu_div .menu_icon {
    color: #ffffff;

    overflow: hidden;
    position: relative;
    display: block;

    left: 2rem;
    top: 2rem;
}

#dashboard_content .btn.btn-default {
    background: #196F3D;
    border: 3px solid #196F3D;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 13px 30px;
    margin-left: 4rem;
    text-transform: uppercase;
    height: 14rem;
    width: 14rem;

    border: 1px solid #196F3D;

    overflow: hidden;
    position: relative;
    top: 17rem;
    left: 19rem;

    display: block;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#dashboard_content .btn.btn-default:hover,
#dashboard_content .btn.btn-default:focus {
    opacity: 0.9;
}

#dashboard_content .icons {
    color: #ffffff;

    overflow: hidden;
    position: relative;
    display: block;
}

#dashboard_content .icons_div {
    font-size: 60px;
}

#sidenav_div .icons_div_menu {
    font-size: 40px;
    margin-right: 10px;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #1F292A;
    overflow-x: hidden; 
    padding-top: 6%; 
    transition: 0.5s; 

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
  
.sidenav button {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
    background: transparent;
    margin-left: 30px;
    border: none;
    padding-bottom: 10px;
}

.sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}