<!--Dashboard-->
<div id="dashboard">
  <div class="gradient-overlay"></div>
  <div class="container-fluid">
    <div class="row">

      <!--Nav-->
      <section id="nav">

      </section>

      <!--Dashboard Content-->
      <section id="dashboard">
        <div id="sidenav_div" class="sidenav">
          <a class="closebtn" (click)="closeNav()">&times;</a>
          <button id="dashboard_menu_link" routerLink="/admin-dashboard"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">home</mat-icon></span>  Dashboard</button>
          <button id="view_samples" routerLink="/member-view-samples"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">insert_chart</mat-icon></span>  View Organization's Samples</button>
          <button id="submit_samples" routerLink="/member-submit-sample"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">file_copy</mat-icon></span>  Submit Sample</button>
          <button id="profile" routerLink="/member-profile"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">person</mat-icon></span>  Profile</button>
          <button id="help_menu_link" routerLink="/"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">help</mat-icon></span>  Help</button>
          <button id="settings_menu_link" routerLink="/"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">settings</mat-icon></span>  Settings</button>
          <button id="logout_menu_link" routerLink="/"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons fas fa-sign-out-alt"></mat-icon></span>  Logout</button>
          <form id="menu_search">
            <mat-form-field class="search_input_field">
              <input matInput id="menu_search_field" formControlName="menu_search_field" type="text">
              <mat-placeholder class="placeholder">Search</mat-placeholder>
            </mat-form-field>
          </form>
        </div>
        <div id="menu_div">
          <mat-icon (click)="sidenavToggle()" [inline]="true" class="menu_icon">menu</mat-icon>
        </div>
        <h1 id="dashboard_heading">Dashboard</h1><br/>
        <div id="dashboard_content">
          <button id="profile" class="btn btn-default" routerLink="/member-profile"><div class="icons_div"><mat-icon [inline]="true" class="icons">person</mat-icon></div><br/>Manage Profile</button><button id="view_samples" class="btn btn-default" routerLink="/member-view-samples"><div class="icons_div"><mat-icon [inline]="true" class="icons">insert_chart</mat-icon></div><br/>View Your Samples</button><button id="submit_samples" class="btn btn-default" routerLink="/member-submit-sample"><div class="icons_div"><mat-icon [inline]="true" class="icons">file_copy</mat-icon></div><br/>Submit Sample</button>
        </div>
      </section>

      <!--Footer-->
      <section id="footer">

      </section>


    </div>
  </div>

</div>