<!--Bootstrap Navbar-->
<div class="container-fluid" id="nav-section">
  <nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="#">System Reports</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a id="dashboard_menu_link" routerLink="/admin-dashboard"><i class="fas fa-home"></i>Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-tasks"></i>Handlers
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a id="user_management" routerLink="/staff-handler"><i class="fas fa-id-card"></i>Staff</a>
            <br />
            <a id="organization_management" routerLink="/organization-handler"><i
                class="fas fa-building"></i>Organizations</a>
            <br />
            <a id="diagnostic_clinic_management" routerLink="/clinic-handler"><i
                class="fas fa-stethoscope"></i>Clinic</a>
            <br />
            <a id="database_management" routerLink="/database-handler"><i class="fas fa-database"></i>Database
            </a>
          </div>
        </li>

        <li class="nav-item">
          <a id="reporting" routerLink="/reporting"><i class="fas fa-chart-pie"></i>Reporting</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a id="profile_menu_link" routerLink="/admin-profile"><i class="fas fa-user-circle"></i>Profile</a>
            <br />
            <a id="settings_menu_link" routerLink="/"><i class="fas fa-cogs"></i>Settings</a>
          </div>
        </li>

        <li class="nav-item">
          <a id="help_menu_link" routerLink="/"><i class="fas fa-question"></i>Help</a>
        </li>

        <li class="nav-item">
          <a id="logout_menu_link" (click)="logout()" style="color:#ffffff;"><i
              class="fas fa-sign-out-alt"></i>Logout</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

<!--SlideOut -->
<div id="slideOut" [ngClass]="{'showSlideOut': toggle_status}">
  <!--Tab-->
  <div class="slideOutTab" (click)="toggleNotificaitonsTab()">
    <div>
      <p>Notifications</p>
    </div>
  </div>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Admin Notifications</h4>
    </div>
    <div class="modal-body" id="notifications-section">

      <h2 *ngIf="!notifications">No notifications</h2>
      <!--*********************************************************************
              DO THE SAME THING HERE AS WITH ADMIN AND STAFF WITH NGIF AND NGFOR
          *************************************************************************-->
      <div *ngIf="allNotifications">
        <div class="box" *ngFor="let log of allNotifications">
          <div class="notification-heading">
            <h2>Notification {{log.ID}}</h2>
            <i class="fas fa-times" (click)="removeNotification(log.LogID)"></i>
          </div>

          <div class="notification-content">
            <p><b>Type:</b> {{log.Type}} notification</p>
            <p><b>Action:</b> {{log.Action}}</p>
            <p><b>Date:</b> {{log.Date}}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer"> </div>
  </div>
</div>

<!--Organization Handler Content-->
<div class="container-fluid">

  <!--Database Handler Content-->
  <div class="content">
    <!-- <div class="color-accent">
        <h1>Database Management</h1>
      </div> -->

    <div class="system-reporting">
      <!--Tab Menu-->
      <mat-tab-group animationDuration="1000ms">

        <!--Deposit Form Tab Option-->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fas fa-chart-pie" style="color:darkgray;padding:5px;"></i>
            Deposit Forms
          </ng-template>

          <div id="depositForms">
            <br/><br/>
            <h2>Deposit Forms</h2>

            <br/><br/>
            <button (click)="showProcessForm()" class="btn btn-default spinner">Process Form</button>
            <div class="arrowDiv leftArrow" (click)="loadPreviousDepositForm()"><i class="fas fa-arrow-left"></i></div><div class="arrowDiv rightArrow" (click)="loadNextDepositForm()"><i class="fas fa-arrow-right"></i></div>
            <div id="individualDepositForm" ng-app="refresh_div1" ng-controller="refresh_control1">
              <h3>User: </h3><p>{{userIDDeposit}}</p><br/>
              <h3>Date Submitted: </h3><p>{{dateSubmittedDeposit}}</p><br/>
              <h3>Culture Number: </h3><p>{{cultureNumberDeposit}}</p>
              <br/><br/>
              <h3>Genus: </h3><p>{{genus}}</p><h3 class="right">Epitheton: </h3><p>{{epitheton}}</p><br/>
              <h3>Personal Collection Number: </h3><p>{{personalCollectionNumber}}</p><br/>
              <h3>International Collection Number: </h3><p>{{internationalCollectionNumber}}</p><br/>
              <h3>Herbarium Number: </h3><p>{{herbariumNumber}}</p><br/>
              <h3>Other FABI Collections: </h3><p>{{otherFABICollections}}</p>
              <br/><br/>
              <h3>Culture Name: </h3><p>{{name}}</p><h3 class="right">Type Status:</h3><p>{{typeStatus}}</p><br/>
              <h3>Host: </h3><p>{{host}}</p><h3 class="right">Vector: </h3><p>{{vector}}</p><br/>
              <h3>Substrate: </h3><p>{{substrate}}</p>
              <br/><br/><br/>
              <h3>Continent: </h3><p>{{continent}}</p><h3 class="right">Country: </h3><p>{{country}}</p><br/>
              <h3>Region: </h3><p>{{region}}</p><h3 class="right">Locality: </h3><p>{{locality}}</p><br/>
              <h3>GPS: </h3><p>{{gps}}</p>
              <br/><br/>
              <h3>Collected By: </h3><p>{{collectedBy}}</p><h3 class="right">Date Collected:</h3><p>{{dateCollected}}</p><br/>
              <h3>Isolated By: </h3><p>{{isolatedBy}}</p><h3 class="right">Identified By: </h3><p>{{identifiedBy}}</p><br/>
              <h3>Donated By: </h3><p>{{donatedBy}}</p><br/>
              <h3>Additional Notes: </h3><p>{{additionalNotes}}</p>
            </div>
          </div>
          <br/><br/><br/>
        </mat-tab>

        <!--Request Form Tab Option-->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fas fa-chart-pie" style="color:darkgray;padding:5px;"></i>
            Request Forms
          </ng-template>
          
          <div id="requestForms">
              <br/><br/>
            <h2>Request Forms</h2>

            <br/><br/>
            <div class="arrowDiv leftArrow" (click)="loadPreviousRequestForm()"><i class="fas fa-arrow-left"></i></div><div class="arrowDiv rightArrow" (click)="loadNextRequestForm()"><i class="fas fa-arrow-right"></i></div>
            <div id="individualRequestForm" ng-app="refresh_div2" ng-controller="refresh_control2">
              <h3>User: </h3><p>{{userIDRequest}}</p><br/>
              <h3>Date Submitted: </h3><p>{{dateSubmittedRequest}}</p><br/>
              <h3>Culture Number: </h3><p>{{cultureNumberRequest}}</p>
              <br/><br/><br/>
              <h3>Taxon Name: </h3><p>{{taxonName}}</p><h3>Reference Number:</h3><p>{{referenceNumberRequest}}</p><br/>
              <h3>Date Requested: </h3><p>{{dateRequestedRequest}}</p>
              <br/><br/><br/>
              <h3>Notes: </h3><p>{{notes}}</p>
            </div>
          </div>
          <br/><br/><br/>
        </mat-tab>

        <!--Revitalization Form Tab Option-->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fas fa-chart-pie" style="color:darkgray;padding:5px;"></i>
            Revitalization Forms
          </ng-template>

          <div id="revitalizationForms">
              <br/><br/>
            <h2>Revitalization Forms</h2>

            <br/><br/>
            <div class="arrowDiv leftArrow" (click)="loadPreviousRevitalizationForm()"><i class="fas fa-arrow-left"></i></div><div class="arrowDiv rightArrow" (click)="loadNextRevitalizationForm()"><i class="fas fa-arrow-right"></i></div>
            <div id="individualRevitalizationForm" ng-app="refresh_div3" ng-controller="refresh_control3">
              <h3>User: </h3><p>{{userIDRevitalization}}</p><br/>
              <h3>Date Submitted: </h3><p>{{dateSubmittedRevitalization}}</p><br/>
              <h3>Culture Number: </h3><p>{{cultureNumberRevitalization}}</p>
              <br/><br/><br/>
              <h3>Culture Name: </h3><p>{{currentName}}</p><h3>Name Bionumerics:</h3><p>{{nameBionumerics}}</p><br/>
              <h3>Culture Condition: </h3><p>{{cultureCondition}}</p><h3>Sequence Date Submitted: </h3><p>{{sequenceDateSubmitted}}</p><br/>
              <h3>Reference Number: </h3><p>{{referenceNumberRevitalization}}</p>
              <br/><br/><br/>
              <h3>Date Requested: </h3><p>{{dateRequestedRevitalization}}</p><h3>Date Returned:</h3><p>{{dateReturned}}</p>
            </div>
          </div>
          <br/><br/><br/>
        </mat-tab>

        <!--Processed Forms Tab Option-->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fas fa-chart-pie" style="color:darkgray;padding:5px;"></i>
            Processed Forms
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>

<div #processFormShow id="processFormDiv">
  <h2>Deposit Processed</h2>

  <br/><br/>
  <form id="processForm" [formGroup]="processForm" (submit)="processForm()">
    <div class="row">
      <div>
        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="Status of Culture" matInput type="text" formControlName="statusOfCulture">
        </mat-form-field>
        <br />

        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="Agar Slants" matInput type="text" formControlName="agarSlants">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="Water" matInput type="text" formControlName="water">
        </mat-form-field>
        <br />

        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="Oil" matInput type="text" formControlName="oil">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="Room Temperature" matInput type="text" formControlName="roomTemperature">
        </mat-form-field>
        <br />

        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="18C" matInput type="text" formControlName="c18">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="Freeze Dried" matInput type="text" formControlName="freezeDried">
        </mat-form-field>
        <br />

        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="Freeze -80C" matInput type="text" formControlName="freeze">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="Date of Collection Validation" matInput type="text" formControlName="dateOfCollectionValidation">
        </mat-form-field>
        <br />

        <mat-form-field class="form_inputs" class="col">
          <input matInput placeholder="Microscope Slides" matInput type="text" formControlName="microscopeSlides">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>