<h2 mat-dialog-title>{{data.error_title}}</h2>
<mat-dialog-content *ngIf="data.message != null || data.message != ''">{{data.message}}</mat-dialog-content>
<br/>
<mat-expansion-panel>
  <mat-expansion-panel-header>

    <mat-panel-title>
      Details
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-dialog-content *ngIf="data.status != null || data.status != ''">{{data.status}}</mat-dialog-content>
  <mat-dialog-content *ngIf="data.type != null || data.type != ''">{{data.type}}</mat-dialog-content>
  <mat-dialog-content *ngIf="data.error != null || data.error != ''">{{data.error}}</mat-dialog-content>

</mat-expansion-panel>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="Retry" *ngIf="data.retry == true">Retry</button>
  <button mat-button mat-dialog-close mat-dialog-close="Dismiss">Dismiss</button>
</mat-dialog-actions>