<!--Bootstrap Navbar-->
<div class="container-fluid" id="nav-section">
  <nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="#">Staff Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a id="dashboard_menu_link" routerLink="/staff-dashboard"><i class="fas fa-home"></i>Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fab fa-wpforms"></i>Culture Collection Forms
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a id="submit_CMW_request" routerLink="/submit-cmw-request"><i class="fab fa-wpforms"></i>CMW Request
              Form</a>
            <br />
            <a id="submit_CMW_deposit" routerLink="/submit-cmw-deposit"><i class="fab fa-wpforms"></i>CMW Deposit
              Form</a>
            <br />
            <a id="submit_CMW_revitalization" routerLink="/submit-cmw-revitalization"><i class="fab fa-wpforms"></i>CMW
              Revitalization Form</a>
            <br />
          </div>
        </li>

        <li class="nav-item">
          <a id="submit_samples" routerLink="/submit-sample"><i class="fas fa-vial"></i>Submit Sample</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a id="profile_menu_link" routerLink="/staff-profile"><i class="fas fa-user-circle"></i>Profile</a>
            <br />
            <a id="settings_menu_link" routerLink="/"><i class="fas fa-cogs"></i>Settings</a>
          </div>
        </li>

        <li class="nav-item">
          <a id="help_menu_link" routerLink="/"><i class="fas fa-question"></i>Help</a>
        </li>

        <li class="nav-item">
          <a id="logout_menu_link" (click)="logout()" ><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

<!--SlideOut -->
<div id="slideOut" [ngClass]="{'showSlideOut': toggle_status}">
  <!--Tab-->
  <div class="slideOutTab" (click)="toggleNotificaitonsTab()">
    <div>
      <p>Notifications</p>
    </div>
  </div>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Staff Notifications</h4>
    </div>
    <div class="modal-body" id="notifications-section">

      <h2 *ngIf="!notifications">No notifications</h2>
      <!--*********************************************************************
          DO THE SAME THING HERE AS WITH ADMIN AND STAFF WITH NGIF AND NGFOR
      *************************************************************************-->
      <div *ngIf="allNotifications">
        <div class="box" *ngFor="let log of allNotifications">
          <div class="notification-heading">
            <h2>Notification {{log.ID}}</h2>
            <i class="fas fa-times" (click)="removeNotification(log.LogID)"></i>
          </div>

          <div class="notification-content">
            <p><b>Type:</b> {{log.Type}} notification</p>
            <p><b>Action:</b> {{log.Action}}</p>
            <p><b>Date:</b> {{log.Date}}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer"> </div>
  </div>
</div>

<!--CMW Revitalization Form Content-->
<div class="content">
  <div class="color-accent">
    <h1>CMW Revitalization Form</h1>
  </div>

  <div class="cmw-revitalization">
    <form class="example-form" [formGroup]="cmwRevitalizationForm" (submit)="submitCMWRevitaalizationForm">
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Requester (Surname, Initials)" type="text" formControlName="requestor">
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Current Name" type="text" formControlName="current_name">
        </mat-form-field>
        <br />
      </div>
      <br/>

      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name as in Bionumerics" type="text" formControlName="name_bionumerics">
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Culture Number" type="text" formControlName="culture_number">
        </mat-form-field>
        <br />
      </div>
      <br/>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Condition of the Culture" type="text" formControlName="culture_condition">
      </mat-form-field>
      <br />

      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Sequence Data Submitted" type="text" formControlName="sequence_data_submitted">
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Reference Number" type="text" formControlName="reference_number">
        </mat-form-field>
        <br />
      </div>
      <br/>

      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Date Requested" type="date" formControlName="date_requested">
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Date Returned" type="date" formControlName="date_returned">
        </mat-form-field>
        <br />
      </div>
      <br/>

      <button id="submit_cmw_revitalization" class="btn btn-default"
        routerLink="/fabi-internal-dashboard">Submit</button>
    </form>
  </div>



</div>