<!-- Menu Shortcut Row -->
<div class="menu-row">

  <!-- Menu Item -->
  <div class="menu-item">
    <div class="menu-icon">
      <i class="fas fa-address-card"></i>
    </div>
    <div class="menu-heading">
      <a routerLink="/staff-handler">
        <h6>Staff Handler</h6>
      </a>
    </div>
  </div>
  <!-- / Menu Item -->

  <!-- Menu Item -->
  <div class="menu-item">
    <div class="menu-icon">
      <i class="fas fa-building"></i>
    </div>
    <div class="menu-heading">
      <a routerLink="/organization-handler">
        <h6>Organization Handler</h6>
      </a>
    </div>
  </div>
  <!-- / Menu Item -->

</div>
<!-- / Menu Shortcut Row -->

<!-- Menu Shortcut Row -->
<div class="menu-row">

  <!-- Menu Item -->
  <div class="menu-item">
    <div class="menu-icon">
      <i class="fas fa-database"></i>
    </div>
    <div class="menu-heading">
      <a routerLink="/database-handler">
        <h6>Database Handler</h6>
      </a>
    </div>
  </div>
  <!-- / Menu Item -->

  <!-- Menu Item -->
  <div class="menu-item">
    <div class="menu-icon">
      <i class="fas fa-stethoscope"></i>
    </div>
    <div class="menu-heading">
      <a routerLink="/clinic-handler">
        <h6>Diagnostic Clinic Handler</h6>
      </a>
    </div>
  </div>
  <!-- / Menu Item -->

</div>
<!-- / Menu Shortcut Row -->