<!--Dashboard-->
<div id="dashboard">
  <div class="gradient-overlay"></div>
  <div class="container-fluid">
    <div class="row">

      <!--Nav-->
      <section id="nav">

      </section>

      <!--Dashboard Content-->
      <section id="dashboard">
        <div id="sidenav_div" class="sidenav">
          <a class="closebtn" (click)="closeNav()">&times;</a>
          <button id="dashboard_menu_link" routerLink="/admin-dashboard"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">home</mat-icon></span>  Dashboard</button>
          <button id="submit_CMW_request" routerLink="/submit-cmw-request"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></span>  Submit CMW Request Form</button>
          <button id="submit_CMW_deposit" routerLink="/submit-cmw-deposit"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></span>  Submit CMW Deposit Form</button>
          <button id="submit_CMW_revitalization" routerLink="/submit-cmw-revitalization"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></span>  Submit CMW Revitalization Form</button>
          <button id="submit_CBS_request" routerLink="/submit-cbs-request"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></span>  Submit CBS Request Form</button>
          <button id="submit_CBS_deposit" routerLink="/submit-cbs-deposit"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></span>  View Organization's Samples</button>
          <button id="submit_samples" routerLink="/staff-submit-sample"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">file_copy</mat-icon></span>  Submit CBS Deposit Form</button>
          <button id="profile_menu_link" routerLink="/"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">person</mat-icon></span>  Profile</button>
          <button id="help_menu_link" routerLink="/"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">help</mat-icon></span>  Help</button>
          <button id="settings_menu_link" routerLink="/"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons">settings</mat-icon></span>  Settings</button>
          <button id="logout_menu_link" routerLink="/"><span class="icons_div_menu"><mat-icon [inline]="true" class="icons fas fa-sign-out-alt"></mat-icon></span>  Logout</button>
        </div>
        <div id="menu_div">
          <mat-icon (click)="sidenavToggle()" [inline]="true" class="menu_icon">menu</mat-icon>
        </div>
        <h1 id="dashboard_heading">Dashboard</h1><br/>
        <div id="dashboard_content">
          <button id="submit_CMW_request" class="btn btn-default" routerLink="/submit-cmw-request"><div class="icons_div"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></div><br/>Submit CMW Request Form</button>
          <button id="submit_CMW_deposit" class="btn btn-default" routerLink="/submit-cmw-deposit"><div class="icons_div"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></div><br/>Submit CMW Deposit Form</button>
          <button id="submit_CMW_revitalization" class="btn btn-default" routerLink="/submit-cmw-revitalization"><div class="icons_div"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></div><br/>Submit CMW Revitalization Form</button><br/><br/>
          <button id="submit_CBS_request" class="btn btn-default" routerLink="/submit-cbs-request"><div class="icons_div"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></div><br/>Submit CBS Request Form</button>
          <button id="submit_CBS_deposit" class="btn btn-default" routerLink="/submit-cbs-deposit"><div class="icons_div"><mat-icon [inline]="true" class="icons">insert_drive_file</mat-icon></div><br/>Submit CBS Deposit Form</button>
          <button id="submit_sample" class="btn btn-default" routerLink="/staff-submit-sample"><div class="icons_div"><mat-icon [inline]="true" class="icons">file_copy</mat-icon></div><br/>Submit Sample</button>
        </div>
      </section>

      <!--Footer-->
      <section id="footer">

      </section>

    </div>
  </div>

</div>