/* ================================================ */
/* General Setup                                    */
/* ================================================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

#dashboard-content {
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-color: #F7F9F9;
}

/* ================================================ */
/* Navbar Setup and Styling                         */
/* ================================================ */
#nav-section {
    padding: 0;
}

.navbar {
    min-height: 100px !important;

    padding: 25px;

    background-color: #6B8E4E;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30), 0 1px 10px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    color: #ffffff;
}

.nav-item a,
i {
    font-size: 18px;
    color: #ffffff;
}

.navbar-nav>a {
    color: #ffffff;
}

.nav-item i {
    padding:5px;
}

.navbar-nav a:hover {
   text-decoration: none;
}

.dropdown-menu {
    width:300px !important;
}

.dropdown-toggle{
    padding:0;
}

.dropdown-menu a {
    color: #6B8E4E !important;
}

.dropdown-menu a:hover {
    text-decoration: none;
}

.dropdown-menu i {
    font-size: 18px;
    color: #6B8E4E;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}

@media(max-width:375px) {
    .navbar {
        min-height: 50px !important;

        padding: 15px;
    }

    .navbar-brand {
        font-size: 18px;
    }
}

@media (min-width:1200px) {
    .nav-item i {
        margin-left: 35px;
    }
}

/* ================================================ */
/* Statistics Section                               */
/* ================================================ */
.statistics-heading {
    display: flex;
    justify-content: center;

    padding-top: 25px;

    background-color: #F7F9F9;
}

.statistics-heading h1 {
    color: #6B8E4E;
    font-size: 34px;
}

#statistics-section {
    padding: 0;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 25vh;

    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #F7F9F9;
}

.statistics .box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100px;
    width: 85%;

    background-color: #ffffff;

    margin: 15px;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20), 2px 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.statistics .box h2 {
    font-family: 'Roboto', sans-serif;
    color: #6B8E4E;
    font-size: 24px;
    margin-top: 0;
    padding: 15px;
}

.statistics .box>i {
    float: left;
    color: #ffffff;
    background-color: #6B8E4E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
}

.statistics .box:hover {
    transform: scale(1.025);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (min-width:425px) {
    .statistics {
        flex-direction: row;
        padding: 15px;
    }

    .statistics .box {
        width: 30%;

    }
}

/* ================================================ */
/* Slide Out Notifications Tab	                    */
/* ================================================ */
#slideOut {
    position: fixed;
    width: 300px;
    height: 800px;
    top: 30px;
    right: -300px;
    /* Animation  */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

/* Display slideOut */
.showSlideOut {
    right: 0px !important;
}

/* Tab */
.slideOutTab {
    margin-top: 35vh;
    position: absolute;
    left: -40px;
    height: 200px;
    width: 40px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background: #8EBB67;
    color: white;
    border-radius: 15px 0px 0px 15px
}

.slideOutTab div {
    text-align: center;
    position: relative;
    right: 70px;
    top: 90px;
    background: #8EBB67;
    width: 180px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}

div#slideOut.showSlideOut {
    width: 30%;
}

.modal-body {
    height: 100vh;

    background-color: #F7F9F9;

    overflow: auto;
}

.modal-header {
    display: flex;
    justify-content: center;

    background-color: #8EBB67;
}

.modal-title {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;

    padding: 15px;
}


@media (max-width:375px) {

    div#slideOut.showSlideOut {
        width: 80%;
    }
}

@media (max-width:768px) {

    div#slideOut.showSlideOut {
        width: 80%;
    }
}

/* ================================================ */
/* Notifications Section Setup and Styling          */
/* ================================================ */
#notifications-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15px;
}

#notifications-section .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: auto;
    width: 95%;

    background-color: #ffffff;

    margin: 10px;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.20), 2px 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.notification-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.notification-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;

    padding-left: 15px;
    padding-bottom: 15px;

}

#notifications-section .box h2 {
    font-family: 'Roboto', sans-serif;
    color: #6B8E4E;
    font-size: 24px;
    margin-top: 0;
    padding: 15px;
}

#notifications-section .box>i {
    float: left;
    color: #ffffff;
    background-color: #6B8E4E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
}

#notifications-section .box:hover {
    transform: scale(1.0125);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}