<!--Bootstrap Navbar-->
<div class="container-fluid" id="nav-section">
  <nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="#">Staff Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a id="dashboard_menu_link" routerLink="/staff-dashboard"><i class="fas fa-home"></i>Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fab fa-wpforms"></i>Culture Collection Forms
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a id="submit_CMW_request" routerLink="/submit-cmw-request"><i class="fab fa-wpforms"></i>CMW Request
              Form</a>
            <a id="submit_CMW_deposit" routerLink="/submit-cmw-deposit"><i class="fab fa-wpforms"></i>CMW Deposit
              Form</a>
            <a id="submit_CMW_revitalization" routerLink="/submit-cmw-revitalization"><i class="fab fa-wpforms"></i>CMW
              Revitalization Form</a>
            <a id="submit_CBS_request" routerLink="/submit-cbs-request"><i class="fab fa-wpforms"></i>CBS Request
              Form</a>
            <a id="submit_CBS_deposit" routerLink="/submit-cbs-deposit"><i class="fab fa-wpforms"></i>CBS Deposit
              Form</a>
          </div>
        </li>

        <li class="nav-item">
          <a id="submit_samples" routerLink="/submit-sample"><i class="fas fa-vial"></i>Submit Sample</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a id="profile_menu_link" routerLink="/"><i class="fas fa-user-circle"></i>Profile</a>
            <a id="settings_menu_link" routerLink="/"><i class="fas fa-cogs"></i>Settings</a>
          </div>
        </li>

        <li class="nav-item">
          <a id="help_menu_link" routerLink="/"><i class="fas fa-question"></i>Help</a>
        </li>

        <li class="nav-item">
          <a id="logout_menu_link" routerLink="/"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>

      </ul>
    </div>
  </nav>
</div>

<!--SlideOut -->
<div id="slideOut" [ngClass]="{'showSlideOut': toggle_status}">
  <!--Tab-->
  <div class="slideOutTab" (click)="toggleNotificaitonsTab()">
    <div>
      <p>Notifications</p>
    </div>
  </div>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Admin Notifications</h4>
    </div>
    <div class="modal-body" id="notifications-section">

      <h2 *ngIf="!notifications">No notifications</h2>
      <!--*********************************************************************
            DO THE SAME THING HERE AS WITH ADMIN AND STAFF WITH NGIF AND NGFOR
        *************************************************************************-->
      <div *ngIf="allNotifications">
        <div class="box" *ngFor="let log of allNotifications">
          <div class="notification-heading">
            <h2>Notification {{log.ID}}</h2>
            <i class="fas fa-times"></i>
          </div>

          <div class="notification-content">
            <p><b>Type:</b> {{log.Type}} notification</p>
            <p><b>Action:</b> {{log.Action}}</p>
            <p><b>Date:</b> {{log.Date}}</p>
          </div>
        </div>
      </div>

      <div #notificationContainer></div>

    </div>
    <div class="modal-footer"> </div>
  </div>
</div>

<div class="container-fluid" id="dashboard-content">
  <!--Statistics Section -->
  <section class="statistics-heading">
    <h1>Statistics</h1>
  </section>
  <div class="container-fluid" id="statistics-section">
    <section class="statistics">

      <div class="box">
        <i class="fas fa-vial"></i>
        <h2>CMW Report</h2>
      </div>

      <div class="box">
        <i class="fas fa-stethoscope"></i>
        <h2>CBS Report</h2>
      </div>
    </section>
  </div>
</div>