/* ==========================================================================
   REPORTING
   ========================================================================== */


/* Log Tables Subsection */
.log-tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 20vh;
  height: auto;

  padding: 15px;
  margin-top: 30px;
}

.reporting-tab {
  width: 80%;
  height: 100%;
}

.log-tab {
  width: 80%;
  height: 100%;
}

a.nav-link {
  font-family: "Roboto", sans-serif;
  color: #6B746F;
}

a.nav-link.active {
  color: #72B555;
}

.tab-content {
  padding: 0;
  margin:0;
}

.tab-content .search-table {
  margin-top: 25px;
}


.report-table {
  width: 100%;
  height: 100%;

  padding: 15px;
  margin: 15px 0 15px 0;

  background-color: #fff;

  border-left: 5px solid #72B555;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.log-tables h5 {
  font-family: "Montserrat", sans-serif;
  color: #6AA84F;
}

.table {
  width: 100%;
  height: 100%;
}


// /*-----------------------
//     Database Management
// -------------------------*/

#previewTableUserLogs,
#previewTableDatabaseLogs,
#previewTableAccessLogs,
#previewTableErrorLogs,
#userCollapse,
#databaseCollapse,
#accessCollapse,
#errorCollapse {
  display: none;
}