<div class="container">

  <!--Nav Section-->
  <div class="nav">

    <section class="top-nav">
      <h1>System Reporting</h1>
      <a id="dashboard_menu_link" routerLink="/admin-dashboard"><i class="fas fa-home"></i>Home</a>
      <a id="user_management" routerLink="/staff-handler"><i class="fas fa-id-card"></i>Staff</a>
      <a id="organization_management" routerLink="/organization-handler"><i
          class="fas fa-building"></i>Organizations</a>
      <a id="diagnostic_clinic_management" routerLink="/clinic-handler"><i class="fas fa-stethoscope"></i>Diagnostic
        Clinic</a>
      <a id="database_management" routerLink="/database-handler"><i class="fas fa-database"></i>Databases</a>
      <a id="database_management" routerLink="/database-handler"><i class="fas fa-chart-pie"></i>Reporting</a>
      <a id="profile_menu_link" routerLink="/admin-profile"><i class="far fa-chart-bar"></i>Profile</a>
      <a id="help_menu_link" routerLink="/"><i class="fas fa-question"></i>Help</a>
      <a id="settings_menu_link" routerLink="/"><i class="fas fa-cogs"></i>Settings</a>
      <a href="" id="notification-bell"><i class="fas fa-bell"></i>Notifications</a>
    </section>

    <section class="bottom-nav">
      <a id="logout_menu_link" routerLink="/"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </section>
    <a href="" id="menu"><i class="fas fa-bars"></i></a>
  </div>

  <!--Database Handler Content-->
  <div class="content">
    <!-- <div class="color-accent">
      <h1>Database Management</h1>
    </div> -->

    <div class="system-reporting">
      <!--Tab Menu-->
      <mat-tab-group animationDuration="1000ms">

        <!--Reporting Tab Option-->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fas fa-chart-pie"></i>
            Reporting
          </ng-template>
        </mat-tab>

        <!--Logs Tab Option-->
        <mat-tab>
          <ng-template mat-tab-label>
            <i class="fas fa-file"></i>
            Logs
          </ng-template>

          <br/><br/>
          <div class="tab-content" id="logs" ng-app="portApp" ngController="previewCtrl">
            <h2>User Log Table</h2>
            <h3 *ngIf="!userLogs">There are currrently no user logs to display</h3>
            <br />

            <table *ngIf="userLogs" id="previewTableUserLogs">
              <thead>
                <tr>
                  <th>Action performed</th>
                  <th>Date</th>
                  <th>User performing action</th>
                  <th>Other users involved</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tableRow" *ngFor="let row of userLogsArray; let i = index">
                  <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                </tr>
              </tbody>
            </table>
            <br/><br/><br/>

            <h2>Database Management Log Table</h2>
            <h3 *ngIf="!databaseLogs">There are currrently no database management logs to display</h3>
            <br />

            <table *ngIf="databaseLogs" id="previewTableDatabaseLogs">
              <thead>
                <tr>
                    <th>Action performed</th>
                    <th>Date</th>
                    <th>User performing action</th>
                    <th>Database involved</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tableRow" *ngFor="let row of databaseLogsArray; let i = index">
                  <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                </tr>
              </tbody>
            </table>
            <br/><br/><br/>

            <h2>Access Log Table</h2>
            <h3 *ngIf="!accessLogs">There are currrently no access logs to display</h3>
            <br />

            <table *ngIf="accessLogs" id="previewTableAccessLogs">
              <thead>
                <tr>
                    <th>Details of access</th>
                    <th>Date</th>
                    <th>User performing action</th>
                    <th>More information(if any)</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tableRow" *ngFor="let row of accessLogsArray; let i = index">
                  <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                </tr>
              </tbody>
            </table>
            <br/><br/><br/>

            <h2>Error Log Table</h2>
            <h3 *ngIf="!errorLogs">There are currrently no error logs to display</h3>
            <br />

            <table *ngIf="errorLogs" id="previewTableErrorLogs">
              <thead>
                <tr>
                    <th>Error status code</th>
                    <th>Date</th>
                    <th>Details of error</th>
                    <th>User performing action</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tableRow" *ngFor="let row of errorLogsArray; let i = index">
                  <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                </tr>
              </tbody>
            </table>
            <br/><br/><br/><br/>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>

</div>