<!-- Dashboard -->
<div class="dashboard">

  <!-- Sidenav -->
  <div class="sidenav">
    <div class="top-nav-items">
      <i class="fas fa-user-circle" onclick="showProfile()"></i>
      <p onclick="showProfile()">Tap to view profile</p>
      <br />
      <div class="nav-links">
        <a class="nav-link" href="#"><i class="fas fa-address-card"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-building"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-database"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-stethoscope"></i></a>
        <a class="nav-link" href="#"><i class="fas fa-chart-bar"></i></a>
      </div>
    </div>
    <div class="bottom-nav-items">
      <a class="nav-link" onclick="showHelp()"><i class="fas fa-question"></i></a>
      <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>
  <!-- / Sidenav -->

  <!-- Navbar -->
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h1 class="brand">ADMIN DASHBOARD</h1>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <!-- Navbar Items -->
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Staff Handler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Database Handler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Organization Handler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Diagnostic Clinic Handler</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Reports and Logs <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="showHelp()">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          <!-- / Navbar Items -->
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <!-- Menu Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- / Menu Button -->

      <!-- Navbar Title -->
      <h5>REPORTS</h5>
      <!-- / Navbar Title -->

      <!-- Notification Icons -->
      <div class="notifications-icon">
        <i class="fas fa-user-circle" onclick="showProfile()"></i>
        <i class="fas fa-bell" id="new-notifications" onclick="showNotifications()"></i>
        <i class="far fa-bell" id="no-new-notifications"></i>
      </div>
      <!-- /Notification Icons -->
    </nav>
  </div>
  <!-- / Navbar-->

  <!-- Dashboard Content -->
  <div class="dashboard-content">
    <!-- Primary Content -->
    <div class="primary-content">

      <!-- Content Heading -->
      <div class="content-heading">
        <h2>Reports and Logs</h2>
        <i class="fas fa-bell" id="new-notifications" onclick="showNotifications()"></i>
        <i class="far fa-bell" id="no-new-notifications"></i>
      </div>
      <!-- / Content Heading -->

    </div>
    <!-- / Primary Content -->

    <!-- Log Tables -->
    <div class="log-tables" id="reports" ng-app="portApp" ngController="previewCtrl">

      <!-- FABI System Error Report Table -->
      <div class="report-table table-responsive" id="errorReport" #errorReportPDF>

        <h5> FABI System Error Report - Date: {{date}}</h5>
        <button *ngIf='errorReport' (click)="downloadErrorReport()">Download Error Report</button>

        <table class="table table-hover" *ngIf="errorLogs" id="previewTableErrorLogs">
          <thead>
            <tr>
              <th scope="col">Error status code</th>
              <th scope="col">Date</th>
              <th scope="col">Details of error</th>
              <th scope="col">User performing action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tableRow" scope="row" *ngFor="let row of errorLogsArray; let i = index">
              <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / FABI System Error Report Table -->

      <!-- FABI System Request Report Table -->
      <div class="report-table table-responsive" id="requestReport" #requestReportPDF>

        <h5> FABI System Request Report - Date: {{date}}</h5>
        <button *ngIf='requestReport' (click)="downloadRequestReport()">Download Request Report</button>

        <table class="table table-hover" *ngIf="requestLogs" id="previewTableRequestLogs">
          <thead>
            <tr>
              <th scope="col">Person</th>
              <th scope="col">Requestor</th>
              <th scope="col">CMW Culture Number</th>
              <th scope="col">Taxon Name</th>
              <th scope="col">Reference Number</th>
              <th scope="col">Date Requested</th>
              <th scope="col">Date Submitted</th>
            </tr>
          </thead>
          <tbody *ngIf='requestReport'>
            <tr class="tableRow" scope="row" *ngFor="let row of requestLogsArray; let i = index">
              <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / FABI System Request Report Table -->

      <!-- FABI System Deposit Report Table -->
      <div class="report-table table-responsive" *ngIf='depositReport' #depositReportPDF>

        <h5> FABI System Deposit Report - Date: {{date}}</h5>
        <button *ngIf='depositReport' (click)="downloadDepositReport()">Download Deposit Report</button>

        <table class="table table-hover" *ngIf="depositLogs" id="previewTableDepositLogs">
          <thead>
            <tr>
              <th scope="col">Person</th>
              <th scope="col">CMW Culture Number</th>
              <th scope="col">Culture Name</th>
              <th scope="col">Collected By</th>
              <th scope="col">Date Collected</th>
              <th scope="col">Isolated By</th>
              <th scope="col">Identified By</th>
              <th scope="col">Date Submitted</th>
            </tr>
          </thead>
          <tbody *ngIf='requestReport'>
            <tr class="tableRow" scope="row" *ngFor="let row of depositLogsArray; let i = index">
              <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / FABI System Deposit Report Table -->

      <!-- FABI System Revitalization Report Table -->
      <div class="report-table table-responsive" *ngIf='revitalizationReport' #revitalizationReportPDF>

        <h5> FABI System Revitalization Report - Date: {{date}}</h5>
        <button *ngIf='revitalizationReport' (click)="downloadRevitalizationReport()">Download Revitalization
          Report</button>

        <table class="table table-hover" *ngIf="revitalizationLogs" id="previewTableRevitalizationLogs">
          <thead>
            <tr>
              <th scope="col">Person</th>
              <th scope="col">Requestor</th>
              <th scope="col">CMW Culture Number</th>
              <th scope="col">Culture Name</th>
              <th scope="col">Reference Number</th>
              <th scope="col">Date Requested</th>
              <th scope="col">Date Returned</th>
              <th scope="col">Date Submitted</th>
            </tr>
          </thead>
          <tbody *ngIf='requestReport'>
            <tr class="tableRow" scope="row" *ngFor="let row of revitalizationLogsArray; let i = index">
              <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / FABI System Revitalization Report Table -->








      <!-- User Log Table Table -->
      <div class="report-table table-responsive" id="logs" ng-app="portApp" ngController="previewCtrl">

        <h5> User Log Table - Date: {{date}}</h5>
        <div #userAdd (click)="expandUserLogTable()"><i class="fas fa-plus-circle"></i></div>
        <div #userCollapse (click)="collapseUserLogTable()" id="userCollapse"><i class="fas fa-minus-circle"></i></div>
        <h3 *ngIf="!userLogs">There are currrently no user logs to display</h3>

        <table class="table table-hover" *ngIf="userLogs" id="previewTableUserLogs" #userLogsTable>
          <thead>
            <tr>
              <th scope="col">Action performed</th>
              <th scope="col">Date</th>
              <th scope="col">User performing action</th>
              <th scope="col">Other users involved</th>
            </tr>
          </thead>
          <tbody *ngIf='requestReport'>
            <tr class="tableRow" scope="row" *ngFor="let row of userLogsArray; let i = index">
              <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / User Log Table Table -->

      <!-- Database Management Log Table Table -->
      <div class="report-table table-responsive" id="logs" ng-app="portApp" ngController="previewCtrl">

        <h5> Database Management Log Table - Date: {{date}}</h5>
        <div #databaseAdd (click)="expandDatabaseLogTable()"><i class="fas fa-plus-circle"></i></div>
        <div #databaseCollapse (click)="collapseDatabaseLogTable()" id="databaseCollapse"><i
            class="fas fa-minus-circle"></i></div>
        <h3 *ngIf="!databaseLogs">There are currrently no database management logs to display</h3>

        <table class="table table-hover" *ngIf="databaseLogs" id="previewTableDatabaseLogs" #databaseLogsTable>
          <thead>
            <tr>
              <th scope="col">Action performed</th>
              <th scope="col">Date</th>
              <th scope="col">User performing action</th>
              <th scope="col">Other users involved</th>
            </tr>
          </thead>
          <tbody *ngIf='requestReport'>
            <tr class="tableRow" scope="row" *ngFor="let row of databaseLogsArray; let i = index">
              <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / Database Management Log Table Table -->

      <!-- Access Log Table Table Table -->
      <div class="report-table table-responsive" id="logs" ng-app="portApp" ngController="previewCtrl">

        <h5> Access Log Table Table - Date: {{date}}</h5>
        <div #accessAdd (click)="expandAccessLogTable()"><i class="fas fa-plus-circle"></i></div>
        <div #accessCollapse (click)="collapseAccessLogTable()" id="accessCollapse"><i class="fas fa-minus-circle"></i>
        </div>
        <h3 *ngIf="!accessLogs">There are currrently no access logs to display</h3>

        <table class="table table-hover" *ngIf="accessLogs" id="previewTableAccessLogs"
          #accessLogsTable>
          <thead>
            <tr>
              <th scope="col">Details of access</th>
              <th scope="col">Date</th>
              <th scope="col">User performing action</th>
              <th scope="col">More information(if any)</th>
            </tr>
          </thead>
          <tbody *ngIf='requestReport'>
            <tr class="tableRow" scope="row" *ngFor="let row of accessLogsArray; let i = index">
              <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / Access Log Table Table Table -->

      <!-- Error Log Table Table -->
      <div class="report-table table-responsive" id="logs" ng-app="portApp" ngController="previewCtrl">

          <h5> Error Log Table - Date: {{date}}</h5>
          <div #errorAdd (click)="expandErrorLogTable()"><i class="fas fa-plus-circle"></i></div><div #errorCollapse (click)="collapseErrorLogTable()" id="errorCollapse"><i class="fas fa-minus-circle"></i></div>
            <h3 *ngIf="!errorLogs">There are currrently no error logs to display</h3>
  
          <table class="table table-hover" *ngIf="errorLogs" id="previewTableErrorLogs" #errorLogsTable>
            <thead>
              <tr>
                  <th scope="col">Error status code</th>
                  <th scope="col">Date</th>
                  <th scope="col">Details of error</th>
                  <th scope="col">User performing action</th>
              </tr>
            </thead>
            <tbody *ngIf='requestReport'>
                <tr class="tableRow" scope="row" *ngFor="let row of errorLogsArray; let i = index">
                    <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                  </tr>
            </tbody>
          </table>
        </div>
        <!-- / Error Log Table Table -->


    </div>
    <!-- / Log Tables -->
  </div>
  <!-- / Dashboard Content -->

  <!-- Notification Section -->
  <div id="notifications">
    <i class="fas fa-arrow-left" onclick="hideNotifications()"></i>
    <br />
    <h3>NOTIFICATIONS</h3>
    <!-- Notification Items -->
    <div class="notification-items">

      <!-- Notification Item -->
      <div class="notification-item">
        <div class="notification-action">
          <i class="fas fa-times"></i>
        </div>
        <div class="notification-heading">
          <h6>Diagnostic Clinic</h6>
        </div>
        <div class="notification-content">
          <h6>Example notification</h6>
        </div>
      </div>
      <!-- Notification Item -->

      <!-- Notification Item -->
      <div class="notification-item">
        <div class="notification-action">
          <i class="fas fa-times"></i>
        </div>
        <div class="notification-heading">
          <h6>Diagnostic Clinic</h6>
        </div>
        <div class="notification-content">
          <h6>Example notification</h6>
        </div>
      </div>
      <!-- Notification Item -->

      <!-- Notification Item -->
      <div class="notification-item">
        <div class="notification-action">
          <i class="fas fa-times"></i>
        </div>
        <div class="notification-heading">
          <h6>Diagnostic Clinic</h6>
        </div>
        <div class="notification-content">
          <h6>Example notification</h6>
        </div>
      </div>
      <!-- Notification Item -->

    </div>
    <!-- Notification Items -->
    <div class="see-more">
      <i class="fas fa-ellipsis-h"></i>
    </div>
    <!-- / Notification Section -->
  </div>

  <!-- Profile Section -->
  <div id="profile">
    <i class="fas fa-arrow-left" onclick="hideProfile()"></i>
    <br />
    <h3>PROFILE</h3>
    <!-- Profile Details -->
    <div class="profile-details">
      <div class="profile-icon">
        <i class="fas fa-user-circle"></i>
      </div>

      <div class="form">
        <form class="profile-form needs-validation" novalidate>
          <div class="form-row align-items-center">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter name" onchange="displaySaveButton()"
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="form-group">
              <label for="surname">Surname</label>
              <input type="text" class="form-control" id="surname" placeholder="Enter surname"
                onchange="displaySaveButton()" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
                onchange="displaySaveButton()" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password"
                onchange="changedPassword()" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="form-group" id="confirm-password">
              <label for="confirm-password">Confirm Password</label>
              <input type="password" class="form-control" placeholder="Password" onchange="displaySaveButton()"
                required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <button type="submit" class="btn btn-default" id="save-btn">Save</button>
          </div>
          <!-- / Sign up -->
        </form>
      </div>

    </div>

  </div>
  <!-- / Profile Section -->

  <!-- Help Section -->
  <div id="help">
    <i class="fas fa-arrow-left" onclick="hideHelp()"></i>
    <br />
    <h3>HELP</h3>
    <!-- Help Items -->
    <div class="help-items">

      <!-- Help Item -->
      <div class="help-item">
        <div class="help-icon">
          <i class="fas fa-address-card"></i>
        </div>
        <div class="help-heading">
          <h6>Staff</h6>
        </div>
        <div class="help-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <!-- / Help Item -->

      <!-- Help Item -->
      <div class="help-item">
        <div class="help-icon">
          <i class="fas fa-building"></i>
        </div>
        <div class="help-heading">
          <h6>Organization</h6>
        </div>
        <div class="help-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <!-- / Help Item -->

      <!-- Help Item -->
      <div class="help-item">
        <div class="help-icon">
          <i class="fas fa-database"></i>
        </div>
        <div class="help-heading">
          <h6>Databases</h6>
        </div>
        <div class="help-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <!-- / Help Item -->

      <!-- Help Item -->
      <div class="help-item">
        <div class="help-icon">
          <i class="fas fa-stethoscope"></i>
        </div>
        <div class="help-heading">
          <h6>Diagnostic Clinic</h6>
        </div>
        <div class="help-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <!-- / Help Item -->

    </div>
    <!-- Help Items -->

  </div>
  <!-- / Help Section -->

</div>
<!-- / Dashboard -->