/* ==========================================================================
   REPORTING
   ========================================================================== */


/* Log Tables Subsection */
.log-tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 20vh;
  height: auto;

  padding: 15px;
  margin-top: 30px;
}

.reporting-tab {
  width: 80%;
  height: 100%;
}

.log-tab {
  width: 80%;
  height: 100%;
}

a.nav-link {
  font-family: "Roboto", sans-serif;
  color: #6B746F;
}

a.nav-link.active {
  color: #72B555;

  border-top: 2px solid #72B555;
}

.tab-content {
  padding: 0;
  margin: 0;
}

.tab-content .search-table {
  margin-top: 25px;
}

.report-table {
  width: 100%;
  height: 100%;

  padding: 15px;
  margin: 15px 0 15px 0;

  background-color: #fff;

  border-left: 5px solid #6B746F;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.log-tables h5 {
  font-family: "Montserrat", sans-serif;
  color: #6B746F;
}

.table {
  width: 100%;
  height: 100%;
}

/* Download Button 
     ========================================================================== */
.btn.btn-default-report-download {
  color: #6B746F;
  font-family: "Montserrat", sans-serif;

  background-color: transparent;

  border: 1px solid #6B746F;

  border-radius: 5px;

  padding: 5px;
  margin: 25px;

  width: 30%;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);

  transition: all 0.5s;
}

.btn.btn-default-report-download:hover {
  color: #fff;

  background-color: rgba(107, 116, 111, 0.95);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  transform: scale(1.025);
}

/* Download Button 
     ========================================================================== */
.btn.btn-default-report-download {
  color: #6B746F;
  font-family: "Montserrat", sans-serif;

  background-color: transparent;

  border: 1px solid #6B746F;

  border-radius: 5px;

  padding: 5px;
  margin: 25px;

  width: auto;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);

  transition: all 0.5s;
}

.btn.btn-default-report-download:hover {
  color: #fff;

  background-color: rgba(107, 116, 111, 0.95);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  transform: scale(1.025);
}


// /*-----------------------
//     Database Management
// -------------------------*/
// #userCollapse,
// #databaseCollapse,
// #accessCollapse,
// #errorCollapse {
//   display: none;
// }