<!-- Dashboard -->
<div class="dashboard">

  <!-- Sidenav -->
  <div class="sidenav">

    <!-- Top Sidenav Link -->
    <div class="top-nav-items">
      <i class="fas fa-user-circle" (click)="toggleProfileTab()"></i>
      <p (click)="toggleProfileTab()">Click to view profile</p>
      <br />

      <div class="nav-links">
        <a class="nav-link" routerLink="/admin-dashboard"><i class="fas fa-home"></i></a>
        <a class="nav-link" routerLink="/staff-handler"><i class="fas fa-address-card"></i></a>
        <a class="nav-link" routerLink="/organization-handler"><i class="fas fa-building"></i></a>
        <a class="nav-link" routerLink="/database-handler"><i class="fas fa-database"></i></a>
        <a class="nav-link" routerLink="/clinic-handler"><i class="fas fa-stethoscope"></i></a>
        <a class="nav-link active" routerLink="/reporting"><i class="fas fa-chart-bar"></i></a>
        <a class="nav-link" routerLink="/view-forms"><i class="fas fa-clipboard"></i></a>
      </div>

    </div>
    <!-- / Top Sidenav Link -->

    <!-- Bottom Sidenav Link -->
    <div class="bottom-nav-items">
      <a class="nav-link" (click)="toggleHelpTab()"><i class="fas fa-question"></i></a>
      <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i></a>
    </div>
    <!-- / Bottom Sidenav Link -->

  </div>
  <!-- / Sidenav -->

  <!-- Navbar -->
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h1 class="brand">ADMIN DASHBOARD</h1>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          <!-- Navbar Items -->
          <li class="nav-item active">
            <a class="nav-link" routerLink="/admin-dashboard">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/staff-handler">Staff Handler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/database-handler">Database Handler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/organization-handler">Organization Handler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clinic-handler">Diagnostic Clinic Handler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="toggleHelpTab()">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
          <!-- / Navbar Items -->
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <!-- Menu Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- / Menu Button -->

      <!-- Navbar Title -->
      <h5>HOME</h5>
      <!-- / Navbar Title -->

      <!-- Notification Icons -->
      <div class="notifications-icon">
        <i class="fas fa-user-circle" (click)="toggleProfileTab()"></i>
        <i class="fas fa-bell" id="new-notifications" (click)="toggleNotificationsTab()"></i>
        <i class="far fa-bell" id="no-new-notifications"></i>
      </div>
      <!-- /Notification Icons -->
    </nav>
  </div>
  <!-- / Navbar-->

  <!-- Dashboard Content -->
  <div class="dashboard-content">
    <!-- Primary Content -->
    <div class="primary-content">

      <!-- Content Heading -->
      <div class="content-heading">
        <h2>Reports and Logs</h2>
        <i class="fas fa-bell" id="new-notifications" (click)="toggleNotificationsTab()"></i>
        <i class="far fa-bell" id="no-new-notifications"></i>
      </div>
      <!-- / Content Heading -->

      <!-- Section Divider -->
      <div class="section-divider"></div>
      <!-- / Section Divider -->

      <!-- Handler Shortcuts -->
      <div class="handler-shortcuts">

        <!-- Menu Shortcut Row -->
        <div class="menu-row">

          <!-- Menu Item -->
          <div class="menu-item">
            <div class="menu-icon">
              <i class="fas fa-chart-bar"></i>
            </div>
            <div class="menu-heading">
              <a (click)="toggleReportSection()">
                <h6>View Reports</h6>
              </a>
            </div>
          </div>
          <!-- / Menu Item -->

        </div>
        <!-- / Menu Shortcut Row -->

        <!-- Menu Shortcut Row -->
        <div class="menu-row">

          <!-- Menu Item -->
          <div class="menu-item">
            <div class="menu-icon">
              <i class="fas fa-file-alt"></i>
            </div>
            <div class="menu-heading">
              <a (click)="toggleLogSection()">
                <h6>View Logs</h6>
              </a>
            </div>
          </div>
          <!-- / Menu Item -->

        </div>
        <!-- / Menu Shortcut Row -->

      </div>
      <!-- / Handler Shortcuts -->

    </div>
    <!-- / Primary Content -->

    <!-- Log Tables -->
    <div class="log-tables" id="reports" ng-app="portApp" ngController="previewCtrl">


      <!-- Reporting Tab -->
      <div class="reporting-tab" *ngIf="reportingTab">

        <!-- Report Type Tabs -->
        <ul class="nav nav-tabs nav-tabs-responsive" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="requestReport-tab" data-toggle="tab" href="#requestReportTab" role="tab"
              aria-controls="requestReportTab" aria-selected="true" (click)="generateRequestReport()">Generate Request
              Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="depositReport-tab" data-toggle="tab" href="#depositReportTab" role="tab"
              aria-controls="depositReportTab" aria-selected="false" (click)="generateDepositReport()">Generate Deposit
              Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="revitalizationReport-tab" data-toggle="tab" href="#revitalizationReportTab"
              role="tab" aria-controls="revitalizationReportTab" aria-selected="false"
              (click)="generateRevitalizationReport()">Generate
              Revitalization
              Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="errorReport-tab" data-toggle="tab" href="#errorReportTab" role="tab"
              aria-controls="errorReportTab" aria-selected="false" (click)="generateErrorReport()">Generate Error
              Report</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">

          <div class="input-group search-table">
            <div class="input-group-prepend ">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
              aria-describedby="basic-addon1" (keyup)="searchFunction()" id="search-table">
          </div>

          <!-- FABI System Request Report Table -->
          <div class="tab-pane fade show active" id="requestReportTab" role="tabpanel"
            aria-labelledby="requestReport-tab">

            <!-- Tab Content -->
            <div class="report-table table-responsive" id="requestReport" *ngIf='requestReport' #requestReportPDF>

              <h5> FABI System Request Report - {{date}}</h5>
              <button class="btn btn-default-view" *ngIf='requestReport' (click)="downloadRequestReport()">Download
                Request
                Report</button>

              <table class="table table-hover" *ngIf="requestLogs" id="previewTableRequestLogs">
                <thead>
                  <tr>
                    <th>Person</th>
                    <th>Requestor</th>
                    <th>CMW Culture Number</th>
                    <th>Taxon Name</th>
                    <th s>Reference Number</th>
                    <th>Date Requested</th>
                    <th>Date Submitted</th>
                  </tr>
                </thead>
                <tbody *ngIf='requestReport'>
                  <tr *ngFor="let row of requestLogsArray; let i = index">
                    <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                  </tr>
                </tbody>
              </table>

            </div>
            <!-- Tab Content -->

          </div>
          <!-- / FABI System Request Report Table -->

          <!-- FABI System Deposit Report Table -->
          <div class="tab-pane fade" id="depositReportTab" role="tabpanel" aria-labelledby="depositReport-tab">

            <!-- Tab Content -->
            <div class="report-table table-responsive" id="depositReport" *ngIf='depositReport' #depositReportPDF>

              <h5> FABI System Deposit Report - {{date}}</h5>
              <button class="btn btn-default-view" *ngIf='depositReport' (click)="downloadDepositReport()">Download
                Deposit
                Report</button>

              <table class="table table-hover" *ngIf="depositLogs" id="previewTableDepositLogs">
                <thead>
                  <tr>
                    <th>Person</th>
                    <th>CMW Culture Number</th>
                    <th>Culture Name</th>
                    <th>Collected By</th>
                    <th>Date Collected</th>
                    <th>Isolated By</th>
                    <th>Identified By</th>
                    <th>Date Submitted</th>
                  </tr>
                </thead>
                <tbody *ngIf='depositReport'>
                  <tr *ngFor="let row of depositLogsArray; let i = index">
                    <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Tab Content -->

          </div>
          <!-- / FABI System Deposit Report Table -->

          <!-- FABI System Revitalization Report Table -->
          <div class="tab-pane fade" id="errorReportTab" role="tabpanel" aria-labelledby="errorReport-tab">

            <!-- Tab Content -->
            <div class="report-table table-responsive" id="errorReport" *ngIf='errorReport' #errorReportPDF>

              <h5> FABI System Error Report - {{date}}</h5>
              <button class="btn btn-default-view" *ngIf='errorReport' (click)="downloadErrorReport()">Download Error
                Report</button>

              <table class="table table-hover" *ngIf="errorLogs" id="previewTableErrorLogs">
                <thead>
                  <tr>
                    <th>Error status code</th>
                    <th>Date</th>
                    <th>Details of error</th>
                    <th>User performing action</th>
                  </tr>
                </thead>
                <tbody *ngIf='errorReport'>
                  <tr *ngFor="let row of errorLogsArray; let i = index">
                    <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Tab Content -->

          </div>
          <!-- / FABI System Revitalization Report Table -->

          <!-- FABI System Error Report Table -->
          <div class="tab-pane fade" id="revitalizationReportTab" role="tabpanel"
            aria-labelledby="revitalizationReport-tab">

            <!-- Tab Content -->
            <div class="report-table table-responsive" id="revitalizationReport" *ngIf='revitalizationReport'
              #revitalizationReportPDF>

              <h5> FABI System Revitalization Report - {{date}}</h5>
              <button class="btn btn-default-view" *ngIf='revitalizationReport'
                (click)="downloadRevitalizationReport()">Download Revitalization
                Report</button>

              <table class="table table-hover" *ngIf="revitalizationLogs" id="previewTableRevitalizationLogs">
                <thead>
                  <tr>
                    <th>Person</th>
                    <th>Requestor</th>
                    <th>CMW Culture Number</th>
                    <th>Culture Name</th>
                    <th>Reference Number</th>
                    <th>Date Requested</th>
                    <th>Date Returned</th>
                    <th>Date Submitted</th>
                  </tr>
                </thead>
                <tbody *ngIf='revitalizationReport'>
                  <tr *ngFor="let row of revitalizationLogsArray; let i = index">
                    <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Tab Content -->

          </div>
          <!-- / FABI System Error Report Table -->

        </div>
        <!-- /Report Type Tabs -->

      </div>
      <!-- /Reporting Tab -->


      <!-- Logging Tab -->
      <div class="log-tab" *ngIf="logsTab">

        <!-- Log Type Tabs -->
        <ul class="nav nav-tabs nav-tabs-responsive" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="userLog-tab" data-toggle="tab" href="#userLogTab" role="tab"
              aria-controls="userLogTab" aria-selected="true" (click)="expandUserLogTable()">User Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="databaseLog-tab" data-toggle="tab" href="#databaseLogTab" role="tab"
              aria-controls="databaseLogTab" aria-selected="false" (click)="expandDatabaseLogTable()">Database Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="accessLog-tab" data-toggle="tab" href="#accessLogTab" role="tab"
              aria-controls="accessLogTab" aria-selected="false" (click)="expandAccessLogTable()">Access Log</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="errorLog-tab" data-toggle="tab" href="#errorLogTab" role="tab"
              aria-controls="errorLogTab" aria-selected="false" (click)="expandErrorLogTable()">Error Log</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <div class="input-group search-table">
            <div class="input-group-prepend ">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
              aria-describedby="basic-addon1" (keyup)="searchFunction()" id="search-table">
          </div>

          <!-- User Log Table Table -->
          <div class="tab-pane fade" id="userLogTab" role="tabpanel" aria-labelledby="userLog-tab">

            <!-- Tab Content -->
            <div class="report-table table-responsive" id="logs">

              <h5>
                User Log Table - {{date}}
              </h5>

              <h3 *ngIf="!userLogs">There are currrently no user logs to display</h3>

              <table class="table table-hover" *ngIf="userLogs" id="previewTableUserLogs" #userLogsTable>
                <thead>
                  <tr>
                    <th>Action performed</th>
                    <th>Date</th>
                    <th>User performing action</th>
                    <th>Other users involved</th>
                  </tr>
                </thead>
                <tbody *ngIf='requestReport'>
                  <tr class="tableRow" scope="row" *ngFor="let row of userLogsArray; let i = index">
                    <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- / Tab Content -->

          </div>
          <!-- / User Log Table Table -->

          <!-- Database Management Log Table Table -->
          <div class="tab-pane fade" id="databaseLogTab" role="tabpanel" aria-labelledby="databaseLog-tab">

            <!-- Tab Content -->
            <div class="report-table table-responsive" id="logs">

              <h5>
                Database Management Log Table - {{date}}
              </h5>

              <h3 *ngIf="!databaseLogs">There are currrently no database management logs to display</h3>

              <table class="table table-hover" *ngIf="databaseLogs" id="previewTableDatabaseLogs" #databaseLogsTable>
                <thead>
                  <tr>
                    <th>Action performed</th>
                    <th>Date</th>
                    <th>User performing action</th>
                    <th>Other users involved</th>
                  </tr>
                </thead>
                <tbody *ngIf='requestReport'>
                  <tr class="tableRow" scope="row" *ngFor="let row of databaseLogsArray; let i = index">
                    <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Tab Content -->

          </div>
          <!-- / Database Management Log Table Table -->

          <!-- Access Log Table Table Table -->
          <div class="tab-pane fade" id="accessLogTab" role="tabpanel" aria-labelledby="accessLog-tab">

            <!-- Tab Content -->
            <div class="report-table table-responsive" id="logs">

              <h5>
                Access Log Table Table - {{date}}
              </h5>

              <h3 *ngIf="!accessLogs">There are currrently no access logs to display</h3>

              <table class="table table-hover" *ngIf="accessLogs" id="previewTableAccessLogs" #accessLogsTable>
                <thead>
                  <tr>
                    <th>Details of access</th>
                    <th>Date</th>
                    <th>User performing action</th>
                  </tr>
                </thead>
                <tbody *ngIf='requestReport'>
                  <tr class="tableRow" scope="row" *ngFor="let row of accessLogsArray; let i = index">
                    <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Tab Content -->

          </div>
          <!-- / Access Log Table Table Table -->

          <!-- Error Log Table Table -->
          <div class="tab-pane fade" id="errorLogTab" role="tabpanel" aria-labelledby="errorLog-tab">

            <!-- Tab Content -->
            <div class="report-table table-responsive" id="logs">

              <h5>
                Error Log Table - {{date}}
              </h5>

              <h3 *ngIf="!errorLogs">There are currrently no error logs to display</h3>

              <table class="table table-hover" *ngIf="errorLogs" id="previewTableErrorLogs" #errorLogsTable>
                <thead>
                  <tr>
                    <th>Error status code</th>
                    <th>Date</th>
                    <th>Details of error</th>
                    <th>User performing action</th>
                  </tr>
                </thead>
                <tbody *ngIf='requestReport'>
                  <tr class="tableRow" scope="row" *ngFor="let row of errorLogsArray; let i = index">
                    <th *ngFor="let key of row; let j = index">{{ row[j] }} </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Tab Content -->

          </div>
          <!-- / Error Log Table Table -->

        </div>
        <!-- /Log Type Tabs -->

      </div>
      <!-- /Logging Tab -->


    </div>
    <!-- / Log Tables -->


    <!-- Notification Section -->
    <div id="notifications" *ngIf="notificationsTab">
      <i class="fas fa-arrow-left" (click)="toggleNotificationsTab()"></i>
      <br />

      <app-admin-notification></app-admin-notification>

    </div>
    <!-- / Notification Section -->

    <!-- Profile Section -->
    <div id="profile" *ngIf="profileTab">
      <i class="fas fa-arrow-left" (click)="toggleProfileTab()"></i>
      <br />

      <app-admin-profile></app-admin-profile>

    </div>
    <!-- / Profile Section -->

    <!-- Help Section -->
    <div id="help" *ngIf="helpTab">
      <i class="fas fa-arrow-left" (click)="toggleHelpTab()"></i>
      <br />

      <app-admin-help></app-admin-help>

    </div>
    <!-- / Help Section -->

  </div>
  <!-- / Dashboard Content -->

  <!-- Up Icon -->
  <!-- <div id="scroll-to-top">
    <a href="#"><i class="fas fa-chevron-circle-up"></i></a>
  </div> -->
  <!-- / Up Icon -->

</div>
<!-- / Dashboard -->