/* ==========================================================================
   STAFF PROFILE STYLING
   ========================================================================== */


/* Button Style
   ========================================================================== */
.btn.btn-default-edit {
    width: 100%;
}

.btn.btn-default-cancel {
    color: darkred;

    border: 1px solid darkred;

    width: 100%;
}

.btn.btn-default-cancel:hover {
    color: #fff;

    background-color: rgba(139, 35, 35, 0.95);

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    transform: scale(1.025);
}

.btn.btn-default-save {
    width: 100%;
}