<h3>PROFILE</h3>

<!-- Profile Details -->
<div class="profile-details">
  <div class="profile-icon">
    <i class="fas fa-user-circle"></i>
  </div>

  <!-- Profile Form -->
  <div class="form">
    <form class="profile-form needs-validation" novalidate [formGroup]="staffProfileForm" (submit)="saveChanges()">
      <div class="form-row align-items-center">

        <!-- Name -->
        <div class="form-group">
          <label for="staff_name">Name</label>
          <input type="text" class="form-control" id="staff_name" placeholder="Enter name"
            formControlName="staff_name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / Name -->

        <!-- Surname -->
        <div class="form-group">
          <label for="staff_surname">Surname</label>
          <input type="text" class="form-control" id="staff_surname" placeholder="Enter surname"
             formControlName="staff_surname" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / Surname -->

        <!-- Email -->
        <div class="form-group">
          <label for="admin_email">Email address</label>
          <input type="email" class="form-control" id="admin_email" aria-describedby="emailHelp"
            placeholder="Enter email" formControlName="admin_email"
            required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / Email -->

        <!-- User Type -->
        <div class="form-group">
          <label for="staff_type">User Type</label>
          <input type="text" class="form-control" id="staff_type" 
            formControlName="staff_type"  disabled>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / User Type -->


        <!-- Profile Actions -->
        <div class="profile-actions">
          <button type="button" class="btn btn-default-edit" (click)="editProfileToggle()" >Edit</button>
          <button type="submit" class="btn btn-default-save" [hidden]="!staffProfileForm.dirty" (click)="saveChanges()" >Save Changes</button>
        </div>
        <!-- / Profile Actions -->

      </div>

    </form>
  </div>
  <!-- / Profile Form -->

</div>