<!-- Pre-Diagnosis -->
<div class="sample-submission">

  <!-- Pre-Diagnosis Heading -->
  <div class="banner"></div>
  <div class="heading">
    <h5></h5>
    <h1>Pre-Diagnosis</h1>
  </div>
  <!-- / Pre-Diagnosis Heading -->

  <!-- Pre-Diagnosis Jumbotron-->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{diagnosis}}</h1>
      <p class="lead">The preliminary diagnosis for the sample is {{diagnosis}}</p>
      <hr class="my-4">
      <p>To find out more about {{diagnosis}} click the button below or contact us!</p>
      <a class="btn btn-secondary btn-lg" routerLink="/pre-diagnosis" role="button">Learn more</a>
    </div>
  </div>
  <!-- / Pre-Diagnosis Jumbotron-->



</div>
<!-- / Pre-Diagnosis -->