/***************************************/
/********* HOME PAGE DESIGN ************/
/***************************************/

//Welcome_section Design
#welcome_section {
    color: #ffffff;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    background-image: url('/assets/images/primary_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome_section .gradient-overlay {
    background: linear-gradient(to left, #196F3D, black);
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

div#info img {
    display: block;
    height: 4rem;
    width: 10rem;
    float: left;
    left: 0;

    position: absolute;
    top: 5rem;
    left: 5rem;


}

div#info {

    position: relative;
    float: left;
    top: 0;
    width: 100%;
    height: 80vh;

    text-align: center;
}

#welcome_section #welcome {
    position: relative;
    top: 50%;

    text-align: center;
}

#welcome_section #welcome h2 {
    color: #ffffff;
    font-size: 2rem;
}


#welcome_section #login-button {
    position: relative;
    top: 80%;

    text-align: center;
}


#welcome_section #login-button .btn {
    background: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 30px;
    margin-top: 34px;
    margin-left: 2rem;
    text-transform: uppercase;

    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #ffffff;

}


#welcome_section #login-button .btn:hover,
#welcome_section #login-button .btn:focus {
    opacity: 0.8;
    color: #196F3D;
    background-color: white;
}


//Info Banner Design
#infomation_background {
    color: #ffffff;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    background: rgba(138, 252, 40, 0.7);

    vertical-align: middle;

}

#infomation_background h2 {
    color: #196F3D;
}

#side_info {
    position: relative;
    width: auto;

}

#who,
#what,
#why {
    position: relative;
    left: 13rem;
    width: 20rem;
    height: auto;

    margin: 2rem;
    padding: 1rem;

    border-left: solid #ffffff 2px;

}

//Item Info Banner Design
#item_info {
    width: 100%;
}

#item_info #item_banner {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

    background-color: #ffffff;
    position: absolute;
    top: 158vh;
    left: 5%;

    width: 90%;
    height: auto 40vh;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);


}

#item_info #item_banner div {
    display: inline-block;

    background-color: #ffffff;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);


    margin: 3rem;

    width: 10rem;
    height: 30vh;
}

//Item Info Banner Design
#handle {
    display: inline-block;
    width: 100%;
    height: 40vh;

    background-color: #E7E8E5;

    text-align: center;

    margin-top: 35vh;

}

#handle #content {
    position: relative;
    top: 30%;
}

#handle #content h1 {
    font-size: 2rem;
    color: #196F3D;
}

//Form Section Design
#form_section {
    color: #ffffff;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    background-image: url('/assets/images/marc-pell-1286984-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form_section .gradient-overlay {
    background: linear-gradient(to left, #196F3D, black);
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

#form_section #form {
    position: relative;
    left: 15%;
    top: 5vh;

    width: 70%;
    height: 45vh;
    background: rgba(138, 252, 40, 0.7);

    text-align: center;
}


#form_section #form h1,
h2,
p {
    position: relative;
    top: 20%;
}

#form_section #form .btn {
    background: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 30px;
    margin-top: 104px;
    text-transform: uppercase;

    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #ffffff;

}


#form_section #form .btn:hover,
#form_section #form .btn:focus {
    opacity: 0.8;
    color: #196F3D;
    background-color: white;
}

#contact_section {
    color: #ffffff;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    height: 50vh;
    max-height: 50vh;
    width: 100%;
    position: relative;


    background-image: url('/assets/images/map.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact_section #details {
    background-color: #707070;
    opacity: 0.8;
    position: absolute;
    top: 15vh;
    width: 50%;
    overflow: hidden;
    height: 20vh;
}

#details #address, #contact_details {
    float: left;
    text-align: left;
    
    padding: 2rem;
}

#contact_section #details .btn {
    background: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 30px;
    text-transform: uppercase;

    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #ffffff;

}


#contact_section #details .btn:hover,
#contact_section #details .btn:focus {
    opacity: 0.8;
    color: #196F3D;
    background-color: white;
}





// #top {
//     background-color: green;
//     position: absolute;
//     top:95vh;

//     width:70%;
//     height:50%;
// }


// CSS Debugging TOOL
// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   }