<div class="box">
  <div class="notification-content">
    <h2>Notification {{Number}}</h2>
    <p><b>Type:</b> {{Type}} notification</p>
    <p><b>Action:</b> {{Action}}</p>
    <p><b>Date:</b> {{Date}}</p>
    <p><b>Details:</b> {{Details}}</p>
  </div>
  <div class="notification-action">
    <i class="fas fa-times"></i>
  </div>
  <!-- <div class="notification-action" (click)="removeNotification({{Number}})">
    <i class="fas fa-times" (click)="removeNotification({{Number}}, {{Type}})"></i>
  </div> -->
</div>