<h1>Diagnostic Clinic Management System</h1>
<mat-tab-group>
  <mat-tab label="Search Current Samples">
    <br />
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search for current samples">
      </mat-form-field>
    </form>

    <br />

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sample 1
            </mat-panel-title>
            <mat-panel-description>
              Analysis Phase
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <p>Holds the details about a sample and can be used to make changes to the sample processing</p>
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sample 2
            </mat-panel-title>
            <mat-panel-description>
              Completed
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <p>Holds the details about a sample and can be used to make changes to the sample processing</p>
        </mat-expansion-panel>
      
      
      </mat-accordion>

  </mat-tab>


  <mat-tab label="Edit Clinic Processes">
    
    <p>Find clever way to do this</p>

    
    <button id="save_process_changes" class="btn btn-default" routerLink="">Save Changes</button>

  </mat-tab>
</mat-tab-group>