<!--Dashboard-->
<div id="dashboard">
  <div class="gradient-overlay"></div>
  <div class="container-fluid">
    <div class="row">

      <!--Nav-->
      <section id="nav">

      </section>

      <!--Dashboard Content-->
      <section id="dashboard">
        <div id="dashboard_content">
          <button id="guest_management" class="btn btn-default" routerLink="/member-handler">Manage Guests</button>
          <button id="profile" class="btn btn-default" routerLink="/organization-profile">Manage Profile</button>
          <button id="view_samples" class="btn btn-default" routerLink="/organization-view-samples">View Organization's
            Samples</button>
          <button id="submit_samples" class="btn btn-default" routerLink="/organization-submit-sample">Submit
            Sample</button>
        </div>
      </section>

      <!--Footer-->
      <section id="footer">

      </section>


    </div>
  </div>

</div>