/*
    DASHBOARD DESIGN
*/

//Background Setup
#dashboard {
    color: #ffffff;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;

    background-image: url('/assets/images/primary_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
}

#dashboard .gradient-overlay {
    background: linear-gradient(to left, #196F3D, black);
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

//Dashboard Heading Styling
#dashboard_heading {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;

    overflow: hidden;
    position: relative;

    top: 0.2rem;
    display: block;

    color: #ffffff;
    font-size: 3.5rem
}

//Dashboard Content Styling
#dashboard_content {
    display: flex;
    height: 70vh;
    width: 80%;

    overflow: hidden;
    position: relative;

    top: 0.5vh;
    left: 10%;

    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#menu_div {
    font-size: 40px;
}

#help_div, #notification_div{
    font-size: 38px;
}

#menu_div .menu_icon {
    color: #ffffff;

    overflow: hidden;
    position: relative;
    display: block;

    left: 2rem;
    top: 2rem;
}

#notification_div .notification_icon {
    color: #196F3D;

    overflow: hidden;
    position: relative;

    left: 24rem;
    top: 3%;
}

#help_div .help_icon {
    color: #196F3D;

    overflow: hidden;
    position: relative;

    left: 25rem;
    top: 2.7%;
}

#dashboard_content .btn.btn-default {
    background: transparent;
    border: 3px solid #196F3D;
    color: #196F3D;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 30px;
    margin-left: 2rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
    height: 2.5rem;

    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #196F3D;

    overflow: hidden;
    position: relative;
    top: 0.5vh;

    display: block;
}

#dashboard_content .btn.btn-default:hover,
#dashboard_content .btn.btn-default:focus {
    color: #ffffff;
    background-color: #196F3D;
}