<h1>Organization Details</h1>
<mat-card>
  <form class="example-form">

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Organization Name" value="Org1">
        </mat-form-field>
        <br/>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="John">
          </mat-form-field>
          <br/>
      
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Surname" value="Doe">
            </mat-form-field>
            <br/>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" value="john@org1.co.za">
          </mat-form-field>
          <br/>

          <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone Number" value="0219875367">
            </mat-form-field>
            <br/>

            <button id="submit_edited_details" class="btn btn-default" routerLink="">Save Changes</button>
  </form>
</mat-card>