<h3>PROFILE</h3>

<!-- Profile Details -->
<div class="profile-details">
  <div class="profile-icon">
    <i class="fas fa-user-circle"></i>
  </div>

  <!-- Profile Form -->
  <div class="form">
    <form class="profile-form needs-validation" novalidate [formGroup]="adminProfileForm" (submit)="saveChanges()">
      <div class="form-row align-items-center">


        <!-- Name -->
        <div class="form-group">
          <label for="admin_name">Admin Name</label>
          <input type="text" class="form-control" id="admin_name" placeholder="Admin name"
            (change)="displayProfileSaveBtn()" formControlName="admin_name" value="{{name}}" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / Name -->

        <!-- Surname -->
        <div class="form-group">
          <label for="admin_surname">Surname</label>
          <input type="text" class="form-control" id="admin_surname" placeholder="Admin surname"
            (change)="displayProfileSaveBtn()" formControlName="admin_surname" value="{{surname}}" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / Surname -->

        <!-- Email -->
        <div class="form-group">
          <label for="admin_email">Email address</label>
          <input type="email" class="form-control" id="admin_email" aria-describedby="emailHelp"
            placeholder="Enter email" (change)="displayProfileSaveBtn()" formControlName="admin_email" value="{{email}}"
            required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / Email -->


        <!-- Password -->
        <div class="form-group">
          <label for="admin_confirm">Password</label>
          <input #passwordInput type="password" class="form-control" id="admin_confirm" placeholder="Password"
            (change)="displayConfirmPasswordInput()" formControlName="admin_password" value="{{password}}" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / Password -->

        <!-- ConfirmPassword -->
        <div class="form-group" id="confirm-password" *ngIf="confirmPasswordInput">
          <label for="confirm-password">Confirm Password</label>
          <input #confirmInput type="password" class="form-control" placeholder="Password"
            (change)="displayProfileSaveBtn()" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- /Confirm Password -->

        <!-- Profile Actions -->
        <div class="profile-actions">
            <button type="button" class="btn btn-default-edit">Edit</button>
            <button type="submit" class="btn btn-default-save">Save Changes</button>
        </div>
          <!-- / Profile Actions -->

      </div>

    </form>
  </div>
  <!-- / Profile Form -->

</div>