.btn.btn-default {
    background: transparent;
    border: 3px solid #196F3D;
    color: #196F3D;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 30px;
    margin-top: 34px;
    margin-left: 2rem;
    text-transform: uppercase;

    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #196F3D;

    display:block;

}