<!--Organization Signup-->
<section id="signup">
  <div class="gradient-overlay"></div>
  <div class="container-fluid">
    <div class="row">

      <!--Signup Form-->
      <div id="main_div_login">
        <div class="col-lg-6 col-md-12 col-sm-12" id="signup_information">
          <h1>Create Account for a New Organization</h1>
          <br />
          <br />
          <br />
          <br />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12" id="signup_div">
          <h1>Create Account</h1>
          <form id="signup_submit"  [formGroup]="signForm" (submit)="signup()">
            <mat-form-field>
                <input matInput id="signup_name" formControlName="signup_name" type="text" required>
                <mat-placeholder class="placeholder">Organization's Name</mat-placeholder>
                <br />
              </mat-form-field>
            <mat-form-field>
              <input matInput id="signup_email" formControlName="signup_email" type="email" required>
              <mat-placeholder class="placeholder">Email Address</mat-placeholder>
              <br />
            </mat-form-field>
            <mat-form-field>
              <input matInput id="signup_phone" formControlName="signup_phone" type="text" required>
              <mat-placeholder class="placeholder">Phone Number</mat-placeholder>
              <br />
            </mat-form-field>
            <mat-form-field>
              <input matInput id="signup_location" formControlName="signup_location" type="text" required>
              <mat-placeholder class="placeholder">Location</mat-placeholder>
              <br />
            </mat-form-field>
            <div *ngIf="submitted && signupForm.controls.signup_email.errors" class="errors">
              <div *ngIf="signupForm.controls.signup_email.errors.required">Please enter the organization's email</div>
            </div>
            <br />
            <p *ngIf="success" class="errors">Creating Orgnization's Account...</p>
            <input type="submit" id="continue" class="btn btn-default" value="Create Account" />
          </form>

        </div>
      </div>
    </div>
  </div>

</section>