<h1 mat-dialog-title class="map-window-heading">Where do you work?</h1>
<mat-dialog-content class="map-window">


  <!-- Search -->
  <div class="input-group search-table">
    <div class="input-group-prepend ">
      <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
    </div>
    <input class="form-control mr-sm-2" type="text" (keydown.enter)="$event.preventDefault()"
      placeholder="Search Location" aria-label="Search" aria-describedby="basic-addon1" autocorrect="off" id="search"
      title="Search" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
  <!-- /Search -->

  <!-- Map Type -->
  <div class="map-type">
    <p>Map Type</p>
    <button class="btn-map" (click)="changeMapType()">{{map_type}}</button>
  </div>
  <!-- / Map Type -->

  <!-- Map -->
  <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="zoom" [mapTypeId]="map_type"
    (mapClick)="selectLocation($event)">
    <agm-marker [latitude]="location.latitude" [longitude]="location.longitude" [markerDraggable]="true"
      (dragEnd)="selectLocation($event)">
      <agm-info-window>
        <h5>{{infoTitle}}</h5>
        <p *ngIf="address.formatted_address != null">{{address.formatted_address}}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <!-- / Map -->

</mat-dialog-content>

<mat-dialog-actions class="map-actions">
  <button class="btn-cancel" (click)="cancel()">Cancel</button>
  <button class="btn btn-default-save" cdkFocusInitial (click)="select()">Confirm</button>
</mat-dialog-actions>