/*-------------
    General
-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    background-color: #E0E0E0;
}

.container {
    height: 100vh;

    overflow: hidden;

    display: flex;

    z-index: 0;

}

/*-------------
    Sidenav
-------------*/

.nav {
    width: 25%;

    display: flex;
    flex-direction: column;

    background-color: #6B8E4E;

    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

    z-index: 2;

    font-family: 'Roboto', sans-serif;

}

.top-nav {
    background-color: #6B8E4E;

    display: flex;
    flex-direction: column;
}

.top-nav h1 {
    font-size: 28px;
    margin: 40px 20px 20px 10%;
    text-decoration: none;
    color: #ffffff;
}

.bottom-nav {
    background-color: #6B8E4E;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav #menu i {
    font-size: 24px;
    margin: 20px 20px 20px 20%;
    text-decoration: none;
    color: #ffffff;
}

.top-nav a {
    font-size: 24px;
    margin: 20px 20px 20px 20%;
    text-decoration: none;
    color: #ffffff;
}

.bottom-nav a {
    font-size: 24px;
    margin: 20px 20px 20px 10%;
    text-decoration: none;
    color: #ffffff;
}

.nav a:hover {
    font-size: 26px;
}

a i {
    padding-right: 15px;
}

.nav #menu,
.nav #notification-bell {
    display: none;
}

@media (max-width: 1250px) {
    .nav {
        width: 40%;
    }

    .nav #notification-bell {
        display: block;
    }
}

@media (max-width: 1400px) {
    .container {
        flex-direction: column;
    }

    .nav {
        height: 10%;
        width: 100%;


        flex-direction: row;
        justify-content: flex-end;
        order: 0;

        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 5px 10px rgba(0, 0, 0, 0.22);
    }

    .nav>* {
        display: none;
    }

    .nav #menu {
        display: block;
    }

}

@media (max-height: 850px) {

    .bottom-nav{
        justify-content: flex-start;
    }
}

@media (max-height: 750px) {
    .nav a{
        font-size:18px;
    }

    .nav a:hover{
        font-size:20px;
    }
}

@media (max-height: 670px) and  (min-width: 1400px){
    .nav{
        width:5%;
    }

    .nav>* {
        display: none;
    }

    .nav #menu {
        display: block;
    }

    .top-nav{
        justify-content: center;
    }
}

/*-------------
    Content
-------------*/

.content {
    width: 60%;

    background-color: #E0E0E0;

    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;
}

.content h1 {
    font-family: 'Roboto', sans-serif;
    color: #6B8E4E;
    font-size: 30px;
    text-transform: uppercase;

    margin: 40px 20px 20px 10%;
}

/**********************
  Statistics section
***********************/
.statistics {
    width: 90%;
    margin: 10% 0 0 5%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics .box {
    background-color: #ffffff;
    margin: 15px;

    height: 100px;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 5px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

.statistics .box h2 {
    font-family: 'Roboto', sans-serif;
    color: #6B8E4E;
    font-size: 24px;
    margin-top: 0;
    padding: 15px;
}

.statistics .box>i {
    float: left;
    color: #ffffff;
    background-color: #6B8E4E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
}

.statistics .box:hover {
    transform: scale(1.1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (max-width: 1400px) {
    .statistics {
        margin: 5% 0 0 5%;
    }
}

@media (max-width: 763px) {
    .statistics .box h2 {
        font-size: 20px;
    }

    .statistics i {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .container{
      min-height: 200vh;
      height: auto;
    }

    .statistics {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .statistics .box {
        height: 100px;
        width: 80%;

        text-align: center;
    }
}

@media (max-height: 850px) {

    .statistics {
        margin: 5% 0 0 2%;
    }

}

@media (max-height: 750px) {
    .statistics {
        margin: 1% 0 0 1%;
    }
}

/**********************
    Staff section
***********************/
.staff {
    width: 90%;
    height: 100%;
    margin: 10% 0 0 5%;

    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.admins {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.other-staff {
    display: flex;
    flex-direction: column;

    width: 50%;
}

.staff h1 {
    font-family: 'Roboto', sans-serif;
    color: #6B8E4E;
    font-size: 24px;
    margin: 15px;
    padding: 15px 15px 15px 0px;
}

.staff .box {
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 5px 10px rgba(0, 0, 0, 0.22);
    margin: 15px;

    height: 20%;

    text-align: left;

    border-radius: 5px;
}

.staff .box:hover {
    transform: scale(1.1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.staff h2 {
    font-family: 'Roboto', sans-serif;
    color: #3C5148;
    font-size: 20px;
    padding: 15px 15px 0px 15px;
}

.staff p {
    font-family: 'Open Sans', sans-serif;
    color: #999;
    font-size: 16px;
    padding: 5px 15px 15px 15px;
}

@media (max-width: 1400px) {
    .staff {
        margin: 5% 0 0 5%;
        overflow-y: scroll;
    }
}

@media (max-width: 500px) {
    .staff {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: scroll;
    }

    .admins {
        width: 90%;
        align-items: center;
    }

    .other-staff {
        width: 90%;
        align-items: center;
    }

    .admins .box {
        width: 100%;
    }

    .other-staff .box {
        width: 100%;
    }
}

@media (max-height: 850px) {

    .staff {
        margin: 2% 0 0 2%;
    }

}

@media (max-height: 680px){
    .staff  .box{
        height: 20%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .staff .box h2{
        margin: 0;
    }

    .staff .box p{
        display: none;
    }
}

/*------------------
    Notifications
-------------------*/

.notifications {

    background-color: #E0E0E0;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    z-index: 2;
}

.notifications h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin: 40px 20px 20px 10%;
    text-decoration: none;
    color: #6B8E4E;
}

.notification-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.notification-items .box {
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;

    height: 100px;
    width: 100%;

    text-align: center;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.30), 0 5px 10px rgba(0, 0, 0, 0.22);

    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.notification-items h2 {
  font-family: 'Roboto', sans-serif;
  color: #3C5148;
  font-size: 20px;
  padding: 15px 15px 0px 15px;
}

.notification-items p {
  font-family: 'Open Sans', sans-serif;
  color: #999;
  font-size: 16px;
  padding: 5px 15px 15px 15px;
}

.notification-items h2{
  text-align: center;
}

@media (max-width: 1400px) {
    .notification-items {
        margin: 5% 0 0 5%;
    }
}

@media (max-width: 1250px) {
    .content {
        width: 100%;
    }

    .notifications {
        display: none;
    }
}

@media (max-width: 1400px) {
    .container {
        flex-direction: column;
    }

    .content {
        height: 100%;
        width: 100%;
    }

}

@media (max-width: 400px) {
    .content {
        height: 70%;
    }
}
