<!--Dashboard-->
<div id="dashboard">
  <div class="gradient-overlay"></div>
  <div class="container-fluid">
    <div class="row">

      <!--Nav-->
      <section id="nav">

      </section>

      <!--Dashboard Content-->
      <section id="dashboard">
        <div id="dashboard_content">
          <button id="user_management" class="btn btn-default" routerLink="/staff-handler">Fabi Staff
            Management</button>
          <button id="organization_management" class="btn btn-default"
            routerLink="/organization-handler">Organization
            Management</button>
          <button id="diagnostic_clinic_management" class="btn btn-default"
            routerLink="/clinic-handler">Diagnostic Clinic Management</button>
          <button id="database_management" class="btn btn-default" routerLink="/database-handler">Database
            Management</button>
        </div>
      </section>

      <!--Footer-->
      <section id="footer">

      </section>
    </div>
  </div>
</div>