<!-- Sign up -->
<div class="sign-up">

  <!-- Sign up Heading -->
  <div class="banner"></div>
  <div class="heading">
    <h5> Hello,</h5>
    <h1>Sign Up!</h1>
  </div>
  <!-- / Sign up Heading -->

  <div class="sign-up-form">

    <!-- Sign up Form -->
    <form class="needs-validation" id="sign_up_form" [formGroup]="sign_up_form" (submit)="login()" novalidate>

      <!-- Organization Details Form Row -->
      <div class="form-row" >

        <!-- Organization Name -->
        <div class="form-group col-md-6">
          <label for="organization_name">Organization Name</label>
          <input type="text" class="form-control form-control-sm" id="organization_name"
            formControlName="organization_name" placeholder="Organization name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / Organization Name -->

        <!-- Location -->
        <div class="form-group col-md-6">
          <label for="organization_location">Organization Location</label>
          <input type="text" class="form-control form-control-sm" id="organization_location"
            formControlName="organization_location" placeholder="Location" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- / Location -->

      </div>
      <!-- / Organization Details Form Row -->

      <!-- Admin Details Form Row -->
      <div class="form-row">

      <!-- Admin Name -->
      <div class="form-group col-md-6">
        <label for="admin_name">Admin Name</label>
        <input type="text" class="form-control form-control-sm" id="admin_name" formControlName="admin_name"
          placeholder="Admin name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <!-- / Admin Name -->

      <!-- Admin Surname -->
      <div class="form-group col-md-6">
        <label for="admin_surname">Admin Surname</label>
        <input type="text" class="form-control form-control-sm" id="admin_surname" formControlName="admin_surname"
          placeholder="Admin surname" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <!-- / Admin Surname -->

      </div>
      <!-- / Admin Details Form Row -->

      <!-- Admin Email -->
      <div class="form-group">
        <label for="admin_email">Admin Email address</label>
        <input type="email" class="form-control form-control-sm" id="admin_email" formControlName="admin_email"
          aria-describedby="emailHelp" placeholder="Enter email" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <!-- / Admin Email -->

      <!-- Admin Phone -->
      <div class="form-group">
        <label for="admin_phone">Admin Phone</label>
        <input type="text" class="form-control form-control-sm" id="admin_phone" formControlName="admin_phone"
          placeholder="Admin phone" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <!-- / Admin Phone -->

      <!-- Sign up Button -->
      <div class="sign-up-action">
        <button type="submit" id="sign-up" class="btn btn-default">Sign Up</button>
      </div>
      <!-- / Sign up Button -->

    </form>
    <!-- / Sign up Form -->
  </div>

  <!-- Login -->
  <div class="login">
    <a href="#">Already a member? Login</a>
  </div>
  <!-- / Login -->

</div>
<!-- / Sign up -->