.mat-dialog-container {
    min-height: 150px !important;
    max-height: 150px !important;
    background-color: transparent !important;
}

.mat-dialog-container {
    box-shadow: none !important;
    background: transparent !important;
}