<div id="database_handler">
  <div class="top_banner">
    <h1 id="database_heading">Database Management</h1>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div id="database_management_div">

        <!--Tab Menu-->
        <mat-tab-group animationDuration="1000ms">

          <!--Porting Tab Option-->
          <mat-tab>
            <ng-template mat-tab-label>
              <i class="fas fa-database"></i>
              Add Database
            </ng-template>
            <div class="tab_content">
              <h2>Add Database via Porting</h2>
              <br />

              <input class="ng-hide" id="input-file-id" multiple type="file" />
              <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label>

            </div>
          </mat-tab>

        </mat-tab-group>

      </div>
    </div>
  </div>