/*
    DASHBOARD DESIGN 
*/

//Background Setup
#database_handler {
    color: #ffffff;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

//Banner Setup
.top_banner {
    background: linear-gradient(to left, #196F3D, black);
    opacity: 0.8;
    position: absolute; 
    top: 0;
    width: 100%;
    height: 30vh;

    background-image: url('/assets/images/forest.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top_banner #database_heading {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 100%;

    overflow: hidden;
    position: absolute;

    top: 1rem;
    display: block;

    color: #ffffff;
    font-size: 2rem
}

#database_management_div {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

    height: 80%;
    width: 90%;
    overflow: hidden;
    position: relative;

    left: 5%;
    top: 15%;

    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 40px 0 rgba(0, 0, 0, 0.19);

    display: block;
}

.tab_content {
    text-align: center;
}

.tab_content h2 {
    color: #196F3D;

    position: relative;
    top: 2rem;

    display: block;
}

.btn.btn-default {
    background: #196F3D;
    border: 3px solid #196F3D;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 30px;
    margin-top: 34px;
    margin-left: 41%;
    margin-bottom: 1rem;
    text-transform: uppercase;

    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #196F3D;

    display: block;
}

.btn.btn-default:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 40px 0 rgba(0, 0, 0, 0.19);
}

.form_inputs {
    width: 40%;
    margin-left: 1rem;
}
