<div>
    <img src="fabi-logo.png" alt="Logo" id="logo" class="img-responsive" />

    <div>
        <h3>Hello {{name}},</h3>
    </div>
    <div>
        <h1>YOUR SAMPLE HAS BEEN SUBMITTED!</h1>
    </div>
    <div>
        <h2>Your Reference Number is: </h2>
        <p>{{referenceNum}}</p>
    </div>      
</div>
