<div class="container">
  <section class="sample-submission">
    <div class="background-image"></div>
    <div class="left">
      <h1>DIAGNOSTIC CLINIC</h1>
      <h3>What do we do?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, est at faucibus sodales, nisi
        est molestie est, eu rhoncus magna dolor at sem. </p>
    </div>
    <div class="right">
      <h1>SUBMIT SAMPLE</h1>

      <!--Sample Submission Form-->
      <form id="sample_form" [formGroup]="sampleForm" (submit)="sendForm()">

        <mat-accordion>

           <!--Sample Details-->
           <mat-expansion-panel class="sample-info">
            <mat-expansion-panel-header>

              <mat-panel-title>
                Sample Details
              </mat-panel-title>
              <mat-panel-description>

                Enter general details about the sample
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field class="form-inputs">
              <input matInput id="sample_plant_species" formControlName="sample_plant_species" type="text" required>
              <mat-placeholder class="placeholder">Plant species or common name</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput id="sample_num_samples" formControlName="sample_num_samples" type="text" required>
              <mat-placeholder class="placeholder">Number of samples</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <label style="font-weight: bold;">Plantation Details:</label><br />
             <mat-form-field class="form-inputs">
              <input matInput id="sample_street" formControlName="sample_street" type="text" required>
              <mat-placeholder class="placeholder">Estate/Street Address</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput id="sample_area" formControlName="sample_area" type="text" required>
              <mat-placeholder class="placeholder">Area/City/Suburb</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput id="sample_farm" formControlName="sample_farm" type="text" required>
              <mat-placeholder class="placeholder">Farm/Compartment/Orchard Name</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput id="sample_province" formControlName="sample_province" type="text" required>
              <mat-placeholder class="placeholder">Province</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput id="sample_gps" formControlName="sample_gps" type="text" required>
              <mat-placeholder class="placeholder">GPS Coordinates</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput [matDatepicker]="date_sample_collected" id="date_sample_collected"
                formControlName="date_sample_collected" type="datetime"
                placeholder="Date of sample collection" required>
              <mat-datepicker-toggle matSuffix [for]="date_sample_collected"></mat-datepicker-toggle>
              <mat-datepicker #data_sample_collected></mat-datepicker>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput [matDatepicker]="date_sample_sent" id="date_sample_sent"
                formControlName="date_sample_sent" type="datetime"
                placeholder="Date sample sent" required>
              <mat-datepicker-toggle matSuffix [for]="date_sample_sent"></mat-datepicker-toggle>
              <mat-datepicker #data_sample_collected></mat-datepicker>
              <br />
            </mat-form-field>
          </mat-expansion-panel> 


          <!--Type of Sample-->
          <mat-expansion-panel class="type-info">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Type of Sample
              </mat-panel-title>

              <mat-panel-description>
                Enter the type of sample
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-checkbox id="sample_type_soil" formControlName="sample_type_soil">Soil</mat-checkbox><br />
            <mat-checkbox id="sample_type_stems" formControlName="sample_type_stems">Stems</mat-checkbox><br />
            <mat-checkbox id="sample_type_roots" formControlName="sample_type_roots">Roots</mat-checkbox><br />
            <mat-checkbox id="sample_type_twigs" formControlName="sample_type_twigs">Twigs/Branches</mat-checkbox>
            <br />
            <mat-checkbox id="sample_type_leaves" formControlName="sample_type_leaves">Leaves/Needles</mat-checkbox>
            <br />
            <mat-checkbox id="sample_type_seedlings" formControlName="sample_type_seedlings">Seedlings/Cuttings
            </mat-checkbox><br />
            <mat-checkbox id="sample_type_media" formControlName="sample_type_media">Media Plates</mat-checkbox><br />
            <mat-checkbox id="sample_type_water" formControlName="sample_type_water">Water</mat-checkbox><br />
            <mat-checkbox id="sample_type_insect" formControlName="sample_type_insect">Insect Specimens</mat-checkbox><br />
            <mat-checkbox id="sample_type_nuts" formControlName="sample_type_nuts">Nuts</mat-checkbox><br />
            <mat-form-field>
              <input matInput id="sample_type_other" formControlName="sample_type_other" type="text">
              <mat-placeholder class="placeholder">Other</mat-placeholder>
              <br />
            </mat-form-field>

          </mat-expansion-panel>


          <!--Symptoms-->
          <mat-expansion-panel class="symptom-info">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Symptoms
              </mat-panel-title>

              <mat-panel-description>
                Enter details about the symptoms
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-checkbox id="symptom_wilt" formControlName="symptom_wilt">Wilt</mat-checkbox><br />
            <mat-checkbox id="symptom_stunting" formControlName="symptom_stunting">Stunting</mat-checkbox><br />
            <mat-checkbox id="symptom_leafspot" formControlName="symptom_leafspot">Leaf Spot</mat-checkbox><br />
            <mat-checkbox id="symptom_rootrot" formControlName="symptom_rootrot">Root rot</mat-checkbox><br />
            <mat-checkbox id="symptom_dieback" formControlName="symptom_dieback">Die-Back</mat-checkbox><br />
            <mat-checkbox id="symptom_cankers" formControlName="symptom_cankers">Cankers</mat-checkbox><br />
            <mat-checkbox id="symptom_death" formControlName="symptom_death">Death</mat-checkbox><br />
            <mat-checkbox id="symptom_wood" formControlName="symptom_wood">Wood borer
              damage/holes/tunnels/frass(sawdust)</mat-checkbox><br />

            <mat-form-field>
              <input matInput id="symptom_other" formControlName="symptom_other" type="text">
              <mat-placeholder class="placeholder">Other</mat-placeholder>
              <br />
            </mat-form-field>

          </mat-expansion-panel>

          <!--Distribution Info-->
          <mat-expansion-panel class="distribution-info">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Distribution
              </mat-panel-title>

              <mat-panel-description>
                Enter details about the distribution
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-checkbox id="distribution_localized" formControlName="distribution_localized">Localized (Single
              Plant)</mat-checkbox><br />
            <mat-checkbox id="distributed_scattered" formControlName="distributed_scattered">Scattered Plants
            </mat-checkbox><br />
            <mat-checkbox id="distributed_general" formControlName="distributed_general">General (Widely )</mat-checkbox>
            <br />
            <mat-checkbox id="distributed_clumps" formControlName="distributed_clumps">Clumps</mat-checkbox>
            <br />
            <mat-checkbox id="distributed_na" formControlName="distributed_na">Not Applicable</mat-checkbox>
            <br />
            <mat-form-field>
              <input matInput id="distibuted_other" formControlName="distributed_other" type="text" required>
              <mat-placeholder class="placeholder">Other</mat-placeholder>
              <br />
            </mat-form-field>
            <label style="font-weight: bold;">Estimate of the percentage of plants affected:</label><br />
            <label for="isolated">
              <input type="radio" id="isolated" formControlName="percentage_plants_affected" name="percentage_plants_affected" value="isolated"> Isolated Cases
            </label> <br />
            <label for="less_ten">
                <input type="radio" id="less_ten" formControlName="percentage_plants_affected" name="percentage_plants_affected" value="less_ten"> < 10%
            </label> <br />
            <label for="ten_to_twentyfive">
                <input type="radio" id="ten_to_twentyfive" formControlName="percentage_plants_affected" name="percentage_plants_affected" value="ten_to_twentyfive"> 10% - 25%
            </label> <br />
            <label for="twentyfive_to_fifty">
                <input type="radio" id="twentyfive_to_fifty" formControlName="percentage_plants_affected" name="percentage_plants_affected" value="twentyfive_to_fifty"> 25% - 50%
            </label> <br />
            <label for="greater_fifty">
                <input type="radio" id="greater_fifty" formControlName="percentage_plants_affected" name="percentage_plants_affected" value="greater_fifty"> > 50%
            </label> <br />

          </mat-expansion-panel>

          <!--Conditions Info-->
          <mat-expansion-panel class="condition-info">
            <mat-expansion-panel-header>

              <mat-panel-title>
                Conditions
              </mat-panel-title>
              <mat-panel-description>
                Enter details about the weather and planting conditions
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field class="form-inputs">
              <input matInput id="conditions_affected" formControlName="conditions_affected" type="text" required>
              <mat-placeholder class="placeholder">% of plants affected</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput [matDatepicker]="conditions_problem_noticed" id="conditions_problem_noticed"
                formControlName="conditions_problem_noticed" type="datetime"
                placeholder="Date problem was first noticed" required>
              <mat-datepicker-toggle matSuffix [for]="conditions_problem_noticed"></mat-datepicker-toggle>
              <mat-datepicker #conditions_problem_noticed></mat-datepicker>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput [matDatepicker]="conditions_date_planted" id="conditions_date_planted"
                formControlName="conditions_date_planted" type="datetime" placeholder="Date plants were planted"
                required>
              <mat-datepicker-toggle matSuffix [for]="conditions_date_planted"></mat-datepicker-toggle>
              <mat-datepicker #conditions_date_planted></mat-datepicker>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput id="conditions_weather_disturbances" formControlName="conditions_weather_disturbances"
                type="text" required>
              <mat-placeholder class="placeholder">Unusual weather disturbances</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput id="conditions_weather_prior" formControlName="conditions_weather_prior" type="text"
                required>
              <mat-placeholder class="placeholder">Weather conditions prior to symptom development</mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput id="conditions_others" formControlName="conditions_others" type="text" required>
              <mat-placeholder class="placeholder">Other tree species in the environment that display similar
                symptoms?
              </mat-placeholder>
              <br />
            </mat-form-field>
            <br />
            <mat-form-field class="form-inputs">
              <input matInput id="conditions_additional" formControlName="conditions_additional" type="text" required>
              <mat-placeholder class="placeholder">Additional information (Please include any information about
                planting
                conditions, fungicide use, herbicide user, changes to fertigation, routine disruptions ...)
              </mat-placeholder>
              <br />
            </mat-form-field>
          </mat-expansion-panel>

        </mat-accordion>
        <br />
        <br />
        <p *ngIf="errors"> There is information missing</p>
        <input id="sample_form_submit" type="submit" class="btn btn-default" value="Submit" />
      </form>
    </div>
  </section>
</div>